@import url("https://fonts.googleapis.com/css?family=Chathura|Dancing+Script");
@import url("https://fonts.googleapis.com/css?family=Glegoo");
@import url("https://fonts.googleapis.com/css?family=Cutive+Mono");
.text-color0 {
  color: white; }

.text-color1 {
  color: #1c2833; }

.text-color2 {
  color: #b2ebf2; }

.text-color3 {
  color: #00b8d4; }

.claro {
  background-color: #00b8d4;
  color: #1c2833; }
  .claro h1, .claro h2, .claro h3, .claro h4 {
    color: white; }
  .claro hr {
    color: #1c2833; }

.oscuro {
  background-color: #1c2833;
  color: white; }
  .oscuro h1, .oscuro h2, .oscuro h3, .oscuro h4 {
    color: #00b8d4; }
  .oscuro hr {
    color: #00b8d4; }

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 1em; }
  * body {
    font-family: "Glegoo", serif; }
  * .container {
    width: 100%; }
    * .container header {
      width: 80%;
      margin: auto; }

#portada {
  width: 100%;
  left: 0;
  top: 0;
  margin: auto;
  margin-bottom: 0;
  height: 100%;
  position: fixed;
  text-align: center;
  background-color: white;
  -webkit-animation: portada 4s;
  animation: portada 4s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  z-index: 100; }
  #portada h1, #portada .titulo {
    width: 80%;
    margin: auto;
    text-align: center;
    font-family: "Dancing Script", cursive;
    font-size: 4em;
    margin-top: 150px;
    padding-bottom: 0;
    color: #1c2833;
    -webkit-animation: nombre 1s;
    animation: nombre 1s; }
  #portada #icon-portada {
    width: 80%;
    margin: auto;
    font-size: 2em;
    color: #b2ebf2; }
  #portada span, #portada #etiqueta {
    font-family: "Chathura", sans-serif;
    width: 80%;
    margin: auto;
    font-size: 3em;
    margin-top: 0;
    padding-top: 0;
    color: #00b8d4;
    -webkit-animation: formacion 3s;
    animation: formacion 3s; }
    #portada span span, #portada #etiqueta span {
      font-size: 0.5em;
      margin-left: 5px; }

@-webkit-keyframes nombre {
  0% {
    opacity: 0; }
  100% {
    opacity: 10; } }

@keyframes nombre {
  0% {
    opacity: 0; }
  100% {
    opacity: 10; } }

@-webkit-keyframes formacion {
  0% {
    opacity: 0; }
  100% {
    opacity: 10; } }

@keyframes formacion {
  0% {
    opacity: 0; }
  100% {
    opacity: 10; } }

@-webkit-keyframes portada {
  0% {
    opacity: 10; }
  90% {
    opacity: 10; }
  100% {
    opacity: 0;
    display: none; } }

@keyframes portada {
  0% {
    opacity: 10; }
  90% {
    opacity: 10; }
  100% {
    opacity: 0;
    display: none; } }

section, .navegador {
  width: 70%;
  margin: auto; }
  section nav ul, .navegador nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%; }
    section nav ul li, .navegador nav ul li {
      width: 20%;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      list-style: none; }
      section nav ul li a, .navegador nav ul li a {
        text-decoration: none;
        text-align: center;
        font-family: "Chathura", sans-serif;
        font-size: 2.5em;
        color: #00b8d4;
        display: block;
        position: relative;
        -webkit-transition: 0.3s;
        -o-transition: 0.3s;
        transition: 0.3s; }
        section nav ul li a:hover, .navegador nav ul li a:hover {
          color: #1c2833;
          -webkit-transform: scale(1.1);
          -ms-transform: scale(1.1);
          transform: scale(1.1); }
      section nav ul li #saludo, .navegador nav ul li #saludo {
        background-color: #1c2833;
        color: #b2ebf2;
        width: 80%;
        height: 90%;
        padding-top: 20px;
        text-align: center;
        display: block;
        position: relative;
        border-radius: 0px 0px 15px 15px;
        font-family: "Dancing Script", cursive;
        font-size: 1.3em; }

.container section.cris {
  text-align: center; }
  .container section.cris h3 {
    width: 100%;
    font-family: "Dancing Script", cursive;
    font-size: 2em;
    color: #00b8d4; }
  .container section.cris h4.slogan {
    font-family: "Glegoo", serif;
    font-size: 0.8em;
    color: #b2ebf2; }
  .container section.cris p {
    font-family: "Dancing Script", cursive;
    text-align: center; }

.container .item {
  margin-top: 15px;
  border-radius: 5px;
  padding: 10px;
  text-align: justify; }
  .container .item .titulo-item h3 {
    text-align: center;
    font-family: "Cutive Mono", monospace;
    font-size: 1.5em; }
  .container .item .descripcion-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    padding-top: 10px; }
    .container .item .descripcion-item p {
      width: 60%; }
    .container .item .descripcion-item .img {
      width: 30%; }
      .container .item .descripcion-item .img img {
        width: 100%;
        border-radius: 5px;
        margin: 5px; }

.container .projects {
  margin-top: 10px;
  padding-bottom: 10px;
  width: 100%;
  background-color: #b2ebf2;
  border-radius: 5px; }
  .container .projects .title-projects {
    width: 100%;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px; }
  .container .projects .projects-var {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
    .container .projects .projects-var .project {
      background-color: #1c2833;
      width: 30%;
      margin: 10px;
      padding-top: 10px;
      padding-bottom: 10px;
      border-radius: 5px; }
      .container .projects .projects-var .project .title-project {
        width: 100%;
        background-color: #00b8d4;
        text-align: center; }
        .container .projects .projects-var .project .title-project h4 {
          color: #1c2833; }
      .container .projects .projects-var .project .description-project {
        width: 90%;
        padding: 5%;
        text-align: justify; }
        .container .projects .projects-var .project .description-project p {
          color: white; }
      .container .projects .projects-var .project .link-project {
        width: 90%;
        margin: 5%; }
        .container .projects .projects-var .project .link-project a {
          background-color: #00b8d4;
          border-radius: 5px;
          color: #1c2833;
          text-decoration: none;
          width: 100%;
          text-align: center;
          display: block; }
          .container .projects .projects-var .project .link-project a:hover {
            color: white; }

section.portafolio {
  width: 80%;
  margin: auto;
  padding-left: 5%;
  padding-right: 5%; }
  section.portafolio .titulo-gen h2 {
    color: #1c2833;
    font-family: "Chathura", sans-serif;
    font-size: 2.5em;
    text-decoration: underline; }
    section.portafolio .titulo-gen h2:before {
      content: "T";
      color: #00b8d4; }

footer.footer {
  width: 100%;
  background-color: #1c2833;
  color: white;
  margin-top: 15px; }
  footer.footer h3.title {
    text-align: center;
    font-family: "Dancing Script", cursive;
    font-size: 1.5em;
    color: #00b8d4;
    padding-top: 20px; }
  footer.footer section.social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: distribute;
    justify-content: space-around; }
    footer.footer section.social .social-link {
      width: 70px;
      height: 70px;
      text-align: center;
      padding: 15px;
      margin-top: 10px;
      margin-bottom: 15px;
      background-color: #00b8d4;
      border-radius: 60px; }
      footer.footer section.social .social-link a {
        text-align: center;
        color: #b2ebf2;
        border-radius: 10%;
        text-decoration: none;
        font-size: 1.5em; }
        footer.footer section.social .social-link a:hover {
          color: red; }
