.container{
    .body{
        .section{
            .certificado{
                width: $width-t;
                @include flex;
                .certificado-item{
                    width: 30%;
                    padding: 10%;
                    padding: $padding;
                    margin: $margin-tb;
                    border-radius: $border-3;
                    .certificado-title{
                        text-align: center;
                        color:$color-3;
                        padding: $padding-tb;
                    }
                    .certificado-body{
                        text-align: center;
                        height: 130px;
                    }
                    .certificado-link{
                        text-align: center;
                        width: $width-t;
                        a{
                            @include link;
                            &:hover{
                                color:$color-2;
                            }
                        }
                    }
                }
            }
        }
    }
}