.container{
    .body{
        .section{
            .icons-description{
                display: block;
                @include flex;
                justify-content: flex-start;
                .item-icon{
                    border:solid 1px $color-3;
                    border-radius: 50px;
                    width: 140px;
                    @include flex;
                    padding: 5px;
                    margin: 10px 10px 10px 0;
                    p{
                        font-size: 0.8em;
                        width: 90px;
                        align-self: center;
                        color:$color-3;
                        text-align: left;
                        margin-left: 10px;
                    }
                    span{
                        align-self: center;
                        width: 40px;
                        background-color: $color-3;
                        border-radius: 40px;
                        display: block;
                        text-align: center;
                        line-height: 2;
                        color: $color-white;
                    }
                }
            }
            .certificado{
                width: $width-t;
                @include flex;
                margin-top: 0;
                .certificado-item{
                    position: relative;
                    .certificado-icon{
                        position: absolute;
                        left: 10px;
                        top: 0;
                        color: $color-3;
                        font-size: 2em;
                        transform: scaleX(1.5);
                    }
                    .destacado{
                        position: absolute;
                        right: 0;
                        bottom: 0;
                        background-color: $color-3;
                        display: block;
                        width: 50px;
                        border-radius: 40px 0 $border-3 0;
                        line-height: 3;
                        text-align: center;
                        color: $color-white;
                        font-size: 1em;
                    }
                    width: 30%;
                    padding: 10%;
                    padding: $padding;
                    margin: $margin-tb;
                    border-radius: $border-3;
                    background-color: $color-white;
                    @include shadow;
                    .certificado-title{
                        text-align: center;
                        color:$color-3;
                        padding: $padding-tb;
                        h4{
                            font-family: $font-title;
                            letter-spacing: 1px;
                            color:$color-1;
                            width: 80%;
                            padding-left: 10%;
                            padding-right: 10%;
                        }
                    }
                    .certificado-body{
                        text-align: justify;
                        height: 130px;
                        @include flex;
                        justify-content: center;
                        img.institucion{
                            max-width: 50%;
                            margin: 0 auto;
                            align-self: flex-end;
                            text-align: center;
                            color: $color-3;
                            width: 100%;
                            display: block;
                            margin: $margin-tb;
                        }
                    }
                    .certificado-link{
                        text-align: center;
                        width: $width-t;
                        margin-top: $margin;
                        a{
                            @include link;
                            &:hover{
                                color:$color-2;
                            }
                        }
                    }
                }
            }
        }
    }
}