.container{
    .body{
        .section{
            .contacto{
                .icon{
                    text-align: center;
                    font-size: 3em;
                    color:$color-1;
                    opacity: $opacity;
                    margin-top: $margin-t;
                }
                .email{
                    width: 100%;
                    display: block;
                    h4{
                        font-size: 9em;
                        @include text-extra;
                        animation: texto 3s;
                        animation-play-state: paused;
                    }
                }
                .cellphone{
                    h4{
                        font-size: 3em;
                        @include text-extra;
                        animation: texto 3s;
                        animation-play-state: paused;
                        &:before{
                            content: "(+591) - ";
                            color:$color-1;
                            opacity: $opacity;
                        }
                    }
                }
            }
        }
    }
}