.container{
    .header{
        .perfil{
            width: 97%;
            padding: $padding-l;
            .name{
                text-align: center;
                font-family: $font-extra;
                @include title-1;
                font-size:4em;
            }
            .icon{
                text-align: center;
                font-size: 1.5em;
                color:$color-4;
            }
            .descripcion{
                text-align: center;
                @include leyenda;
                p{
                }
            }
        }
    }
}