.container{
    .body{
        .section{
            .proyecto{
                width: $width-t;
                @include flex;
                a{
                    text-decoration: none;
                    .proyecto-item{
                        width: 330px;
                        height: 200px;
                        margin: $margin-tb;
                        border-radius: $border-3;
                        background-image: url(../media/pagina-web.jpeg);
                        background-position: center;
                        background-repeat: no-repeat;
                        background-size: cover;
                        @include shadow;
                        @include claro;
                        overflow: hidden;
                        &:before{
                            content: "";
                            width: 330px;
                            height: 200px;
                            position: absolute;
                            background: linear-gradient(90deg,$color-1,$color-3);
                            opacity: 0.5;
                            z-index: 1;
                        }
                        &:hover{
                            .proyecto-title{
                                top: 0;
                                left: 0;
                            }
                            .proyecto-body{
                                bottom: 0;
                                right: 0;
                            }
                        }
    
                        .proyecto-title{
                            width: 300px;
                            text-align: center;
                            color:$color-3;
                            padding: $padding;
                            align-self: flex-start;
                            position: relative;
                            z-index: 5;
                            top: -100px;
                            left: -100px;
                            transition: $transition;
                            &:before{
                                content: "";
                                width: 330px;
                                height: 100px;
                                background-color: $color-1;
                                position: absolute;
                                top:0;
                                left: 0;
                                opacity: 0.7;
                                z-index: -1;
                            }
                            h4{
                                font-family: $font-extra;
                                padding: 0;
                                margin:0;
                                font-size: 3em;
                            }
                        }
                        .proyecto-body{
                            width: 300px;
                            height: 70px;
                            padding: $padding;
                            // background-color: $color-3;
                            color:$color-4;
                            text-align: justify;
                            z-index: 3;
                            position: relative;
                            bottom: -100px;
                            right: -100px;
                            transition: $transition;
                            &:before{
                                content: "";
                                width: 330px;
                                height: 100px;
                                background-color: $color-3;
                                position: absolute;
                                top:0;
                                left: 0;
                                opacity: 0.7;
                                z-index: -1;
                            }
                        }
                    }
                }
            }
        }
    }
}