@mixin title-decoration {
    color:$color-white;
}
body{
    .container{
        h3{
            background-color: $color-1;
            padding: $padding;
            border-bottom: 20px solid $color-3;
            border-radius: $border-3 $border-3 0 0;
        }
        @mixin size-title{
            font-size: 1.4em !important;
        }
        #experiencias{
            h3{
                &:before{
                    content: "E";
                    @include title-decoration;
                    @include size-title;
                }
            }
        }
        #proyectos{
            h3{
                &:before{
                    content: "P";
                    @include title-decoration;
                    @include size-title;
                }
            }
        }
        #habilidades{
            h3{
                &:before{
                    content: "H";
                    @include title-decoration;
                    @include size-title;
                }
            }
        }
        #certificaciones{
            h3{
                &:before{
                    content: "C";
                    @include title-decoration;
                    @include size-title;
                }
            }
        }
    }
}