@media only screen and (max-width:400px){
    body{
        .container{
            header{
                width: 100%;
                section.navegador{
                    nav{
                        ul{
                            flex-wrap: wrap;
                            li{
                                width: 100%;
                                #saludo{
                                    width: 100%;
                                    padding-bottom: 20px;
                                    margin:0 auto;
                                }
                            }
                        }
                    }
                }
            }
            section.portafolio{
                width: 100%;
            }

            .item{
                .titulo-item{
                  h3{
                    font-size: 1.5em;
                  }
                }
                .descripcion-item{
                  p{
                    width:100%;
                  }
                  .img{
                    width:100%;
                    img{
                      width:70%;
                    }
                  }
                }
              }
              .projects{
                margin-top:10px;
                padding-bottom:10px;
                width:100%;
                border-radius:5px;
                .title-projects{
                  width:100%;
                  text-align:center;
                  padding-top:10px;
                  padding-bottom:10px;
                  h2{
            
                  }
                }
                .projects-var{
                  display:flex;
                  justify-content:space-between;
                  flex-wrap:wrap;
                  .project{
                    width:100%;
                    margin-bottom: 10px;
                  }
                }
            }
        }
    }
}