//- .busqueda
//-     form.busqueda__form
//-         input.busqueda__barra#busqueda(type="text", placeholder="Buscar")
//- .categorias#categorias
//-     a(href="#").categorias__link.categorias__activo Todos
//-     a(href="#").categorias__link Diseño Web
//-     a(href="#").categorias__link Desarrollo Web