section.section#certificaciones
    h3.title ertificaciones
    .hr
    section.icons-description
        .item-icon
            p  Destacado
            span.icon-trophy
    section.certificado
        article.certificado-item
            .certificado-icon.icon-bookmark
            .destacado.icon-trophy
            .certificado-title
                h4 CCNA Routing and Switching: Introducción a redes
            .certificado-body
                p En este curso se impartieron conceptos básicos pero esenciales para la configuración de una red empresarial grande, mediana o pequeña.
                img.institucion(src="media/logos/cisco_netacad_logo.jpg", alt="", srcset="")
            .certificado-link
                a(href="media/certificados/CRISTHIAN+CARLOSCHAUCA+MARIACA-BO-TKNLPZ191-1LWVN-4-Certificate.pdf", target="_blank").icon-link  Ver Certificación
        article.certificado-item
            .certificado-icon.icon-bookmark
            .destacado.icon-trophy
            .certificado-title
                h4 NDG Linux Unhatched
            .certificado-body
                p Curso en linea donde se tocan conceptos basicos de manipulacion de consola en entorno linux.
                img.institucion(src="media/logos/cisco_netacad_logo.jpg", alt="", srcset="")
            .certificado-link
                a(href="media/certificados/NDGLinuxUnhatched.pdf", target="_blank").icon-link  Ver Certificación
        article.certificado-item
            .certificado-icon.icon-bookmark
            .destacado.icon-trophy
            .certificado-title
                h4 SE CoreClient Credential 2018
            .certificado-body
                p Curso en linea donde se tocan conceptos basicos de manipulacion de consola en entorno linux.
                img.institucion(src="media/logos/dell_emc.jpg", alt="", srcset="")
            .certificado-link
                a(href="media/certificados/SE_CoreClientCredential2018certificate.pdf", target="_blank").icon-link  Ver Certificación
        article.certificado-item
            .certificado-icon.icon-bookmark
            .certificado-title
                h4 Marketing Credential 2018
            .certificado-body
                p Curso en linea donde se tocan conceptos basicos de manipulacion de consola en entorno linux.
                img.institucion(src="media/logos/dell_emc.jpg", alt="", srcset="")
            .certificado-link
                a(href="media/certificados/MarketingCredential2018certificate.pdf", target="_blank").icon-link  Ver Certificación
        article.certificado-item
            .certificado-icon.icon-bookmark
            .certificado-title
                h4 SE CoreClient Credential 2017
            .certificado-body
                p Curso en linea donde se tocan conceptos basicos de manipulacion de consola en entorno linux.
                img.institucion(src="media/logos/dell_emc.jpg", alt="", srcset="")
            .certificado-link
                a(href="media/certificados/SE_CoreClientCredential2017certificate.pdf", target="_blank").icon-link  Ver Certificación
        article.certificado-item
            .certificado-icon.icon-bookmark
            .certificado-title
                h4 Sales Core Client Credential 2017
            .certificado-body
                p Curso en linea donde se tocan conceptos basicos de manipulacion de consola en entorno linux.
                img.institucion(src="media/logos/dell_emc.jpg", alt="", srcset="")
            .certificado-link
                a(href="media/certificados/Sales_CoreClientCredential2017certificate.pdf", target="_blank").icon-link  Ver Certificación
        article.certificado-item
            .certificado-icon.icon-bookmark
            .certificado-title
                h4 Marketing Specialist Credential 2017
            .certificado-body
                p Curso en linea donde se tocan conceptos basicos de manipulacion de consola en entorno linux.
                img.institucion(src="media/logos/dell_emc.jpg", alt="", srcset="")
            .certificado-link
                a(href="media/certificados/MarketingSpecialistCredential2017certificate.pdf", target="_blank").icon-link  Ver Certificación