section.section#contacto
    section.contacto
        .contacto__section
            p.contacto__paragraph You can contact me in the following ways:
        .contacto__section
            .contacto__email
                h4  cristhiancchm
            .contacto__cellphone
                h4  72087907
        //- .contacto__footer
        //-     include social

