section.section#contacto
                    section.contacto
                        //- .icon.icon-user-tie
                        .email
                            h4  cristhiancchm@gmail.com
                        .cellphone
                            h4  72087907
                        .icon.icon-phone