//- Inlcuimos los MIXINS - HABILIDADES
include mixins/habilidades
//- Incluimos las variables para trabajar con los datos CONFIG - HABILIDADES
include ../config/habilidades

.row
    section.section#habilidades
        h3.title abilidades
        .hr
        section.habilidad
            article.habilidad-item
                .habilidad-title
                    h4 Html5
                    .habilidad-img
                        img(src="media/logos/html5.png", alt="")
                .habilidad-porcentaje
                    .habilidad-progress
                        .habilidad-line-base
                        .habilidad-line-progress#html
                    .habilidad-progress-number
                        p#html-label 80%
                    .habilidad-description
                        p Maquetación con lenguaje de marcado HTML5 lo ultimo en <b>maquetación web</b> que permite a los navegadores comprender de mejor forma la información de una web. 
            article.habilidad-item
                .habilidad-title
                    h4 Css3
                    .habilidad-img
                        img(src="media/logos/css3.png", alt="")
                .habilidad-porcentaje
                    .habilidad-progress
                        .habilidad-line-base
                        .habilidad-line-progress#css3
                    .habilidad-progress-number
                        p#css3-label 90%
                    .habilidad-description
                        p CSS3 es un lenguaje usado para definir la presentación de un documento estructurado escrito en HTML
            article.habilidad-item
                .habilidad-title
                    h4 Sass
                    .habilidad-img
                        img(src="media/logos/sass.png", alt="")
                .habilidad-porcentaje
                    .habilidad-progress
                        .habilidad-line-base
                        .habilidad-line-progress#sassvar
                    .habilidad-progress-number
                        p#sassvar-label 50%
                    .habilidad-description
                        p Sass es un meta-lenguaje para escribir CSS que se utiliza para describir el estilo de un documento de manera limpia y estructural.
            article.habilidad-item
                .habilidad-title
                    h4 Pug
                    .habilidad-img
                        img(src="media/logos/pug.png", alt="")
                .habilidad-porcentaje
                    .habilidad-progress
                        .habilidad-line-base
                        .habilidad-line-progress#pugvar
                    .habilidad-progress-number
                        p#pugvar-label 50%
                    .habilidad-description
                        p Pug (anteriormente conocido como jade) es un motor de plantillas de alto rendimiento fuertemente influenciado por Haml e implementado con JavaScript para Node.js y navegadores.
            article.habilidad-item
                .habilidad-title
                    h4 JavaScript
                    .habilidad-img
                        img(src="media/logos/javascript.png", alt="")
                .habilidad-porcentaje
                    .habilidad-progress
                        .habilidad-line-base
                        .habilidad-line-progress#javascriptvar
                    .habilidad-progress-number
                        p#javascriptvar-label 30%
                    .habilidad-description
                        p JavaScript (abreviado comúnmente JS) es un lenguaje de programación interpretado, dialecto del estándar ECMAScript.
            article.habilidad-item
                .habilidad-title
                    h4 JQuery
                    .habilidad-img
                        img(src="media/logos/jquery.png", alt="")
                .habilidad-porcentaje
                    .habilidad-progress
                        .habilidad-line-base
                        .habilidad-line-progress#jqueryvar
                    .habilidad-progress-number
                        p#jqueryvar-label 70%
                    .habilidad-description
                        p JQuery es una librería de JavaScript (JavaScript es un lenguaje de programación muy usado en desarrollo web).
            article.habilidad-item
                .habilidad-title
                    h4 Java
                    .habilidad-img
                        img(src="media/logos/java.png", alt="")
                .habilidad-porcentaje
                    .habilidad-progress
                        .habilidad-line-base
                        .habilidad-line-progress#javavar
                    .habilidad-progress-number
                        p#javavar-label 60%
                    .habilidad-description
                        p Java es un lenguaje de programación orientado a objetos que se incorporó al ámbito de la informática en los años noventa.
            article.habilidad-item
                .habilidad-title
                    h4 Php
                    .habilidad-img
                        img(src="media/logos/php.png", alt="")
                .habilidad-porcentaje
                    .habilidad-progress
                        .habilidad-line-base
                        .habilidad-line-progress#phpvar
                    .habilidad-progress-number
                        p#phpvar-label 60%
                    .habilidad-description
                        p Es un lenguaje de programación de propósito general de código del lado del servidor originalmente diseñado para el preprocesado de texto plano en UTF-8.
            article.habilidad-item
                .habilidad-title
                    h4 Laravel
                    .habilidad-img
                        img(src="media/logos/laravel.png", alt="")
                .habilidad-porcentaje
                    .habilidad-progress
                        .habilidad-line-base
                        .habilidad-line-progress#laravelvar
                    .habilidad-progress-number
                        p#laravelvar-label 30%
                    .habilidad-description
                        p Laravel es un framework de código abierto para desarrollar aplicaciones y servicios web con PHP.
            article.habilidad-item
                .habilidad-title
                    h4 MySql
                    .habilidad-img
                        img(src="media/logos/mysql.jpg", alt="")
                .habilidad-porcentaje
                    .habilidad-progress
                        .habilidad-line-base
                        .habilidad-line-progress#mysqlvar
                    .habilidad-progress-number
                        p#mysqlvar-label 80%
                    .habilidad-description
                        p MySQL es un sistema de gestión de base de datos relacional (RDBMS) de código abierto, basado en lenguaje de consulta estructurado (SQL).
            article.habilidad-item
                .habilidad-title
                    h4 Python
                    .habilidad-img
                        img(src="media/logos/python.png", alt="")
                .habilidad-porcentaje
                    .habilidad-progress
                        .habilidad-line-base
                        .habilidad-line-progress#pythonvar
                    .habilidad-progress-number
                        p#pythonvar-label 5%
                    .habilidad-description
                        p Se trata de un lenguaje de programación multiparadigma, ya que soporta orientación a objetos, programación imperativa y, en menor medida, programación funcional.
            article.habilidad-item
                .habilidad-title
                    h4 Git-Github
                    .habilidad-img
                        img(src="media/logos/github.png", alt="")
                .habilidad-porcentaje
                    .habilidad-progress
                        .habilidad-line-base
                        .habilidad-line-progress#gitvar
                    .habilidad-progress-number
                        p#gitvar-label 70%
                    .habilidad-description
                        p GitHub es una plataforma de desarrollo colaborativo de software para alojar proyectos utilizando el sistema de control de versiones Git.
            article.habilidad-item
                .habilidad-title
                    h4 Seguridad
                    .habilidad-img
                        img(src="media/logos/seguridad.jpg", alt="")
                .habilidad-porcentaje
                    .habilidad-progress
                        .habilidad-line-base
                        .habilidad-line-progress#securityvar
                    .habilidad-progress-number
                        p#securityvar-label 10%
                    .habilidad-description
                        p La seguridad informática es una disciplina que se encarga de proteger la integridad y la privacidad de la información almacenada en un sistema informático.
            article.habilidad-item
                .habilidad-title
                    h4 Linux
                    .habilidad-img
                        img(src="media/logos/linux.png", alt="")
                .habilidad-porcentaje
                    .habilidad-progress
                        .habilidad-line-base
                        .habilidad-line-progress#linuxvar
                    .habilidad-progress-number
                        p#linuxvar-label 50%
                    .habilidad-description
                        p LINUX (o GNU/LINUX, más correctamente) es un Sistema Operativo como MacOS, DOS o Windows. Es decir, Linux es el software necesario para que tu ordenador te permita utilizar programas como: editores de texto, juegos, navegadores de Internet, etc.
            article.habilidad-item
                .habilidad-title
                    h4 Photoshop
                    .habilidad-img
                        img(src="media/logos/photoshop.png", alt="")
                .habilidad-porcentaje
                    .habilidad-progress
                        .habilidad-line-base
                        .habilidad-line-progress#photoshopvar
                    .habilidad-progress-number
                        p#photoshopvar-label 80%
                    .habilidad-description
                        p Photoshop es el nombre popular de un programa informático de edición de imágenes. Su nombre completo es Adobe Photoshop y está desarrollado por la empresa Adobe Systems Incorporated.
            article.habilidad-item
                .habilidad-title
                    h4 SEO
                    .habilidad-img
                        img(src="media/logos/seo.png", alt="")
                .habilidad-porcentaje
                    .habilidad-progress
                        .habilidad-line-base
                        .habilidad-line-progress#seovar
                    .habilidad-progress-number
                        p#seovar-label 80%                        
                    .habilidad-description
                        p El posicionamiento en buscadores u optimización de motores de búsqueda es el proceso de mejorar la visibilidad de un sitio web en los resultados orgánicos de los diferentes buscadores.