include ../config/general
link(rel="stylesheet", href="css/estilos.css")
link(rel="stylesheet", href="fonts/style.css")
link(rel="icon", href="media/icon.png", type="image/png")
script(src="https://code.jquery.com/jquery-3.4.0.min.js")
block title
    title= page + " | " + title