include ../config/general
meta(name="keywords", content="Programador Web, Diseñador Web, Freelancer, PHP, Laravel, VueJs, Javascript")
meta(name="description", content="Programador Web - Backend & Frontend.  Portafolio personal de Cristhian Chauca donde puede ver los proyectos desarrollados, a lo largo de mi carrera.")
meta(name="author", content="Cristhian Carlos Chauca Mariaca")
meta(name="theme-color" content="#222831")
link(rel="stylesheet", href="css/estilos.css")
link(rel="stylesheet", href="fonts/style.css")
link(rel="icon", href="media/icon.png", type="image/png")
//- script(src="https://code.jquery.com/jquery-3.4.0.min.js")
block title
    title= page + " | " + title