header.header
    video(src="media/video/coding-banner.mp4", autoplay muted loop)
    section.perfil
        span.saludo Welcome..! <br>
        h1.name 
            span.x risthian 
            span.x . 
            span.x hauca 
            span.y ariaca
        article.descripcion.mb-5
            p Soy una persona autodidacta, entuciasmado por captar día a día nuevos conocimientos en desarrollo web, que me ayuden a superar en mundo laboral. Mi meta sera siempre estar capacitado para enfrentar nuevos desafios.
        include nav_in_page