include ../config/general
meta(name="keywords", content="Programador Web, Diseñador Web, Freelancer, PHP, Laravel, VueJs, Javascript")
meta(name="description", content="Programador Web - Backend & Frontend.  Portafolio personal de Cristhian Chauca donde puede ver los proyectos desarrollados, a lo largo de mi carrera.")
meta(name="author", content="Cristhian Carlos Chauca Mariaca")
meta(name="theme-color" content="#222831")
link(rel="stylesheet", href="css/estilos.css")
link(rel="stylesheet", href="fonts/style.css")
link(rel="icon", href="media/icon.png", type="image/png")
//- Facebook
<meta property="og:url"                content="https://cristhianchaucamariaca.github.io/" />
<meta property="og:type"               content="profile" />
<meta property="profile:first_name"    content="Cristhian"/>
<meta property="profile:last_name"    content="Chauca"/>
<meta property="og:title"              content="Portafolio" />
<meta property="og:description"        content="Mira los proyectos que realizo, y los servicios que proporciono." />
<meta property="og:image"              content="https://cristhianchaucamariaca.github.io/media/photo.jpeg" />
//- End Facebook
//- script(src="https://code.jquery.com/jquery-3.4.0.min.js")
block title
    title= page + " | " + title