nav.nav#nav
    #toggle-menu.icon-menu
    .row
        ul#nav-ul
            li#saludo Welcome...!
            li
                a(href="#header").link-inicio Inicio
            li
                a(href="#proyectos").link-proyectos Proyectos
            li
                a(href="#servicios").link-proyectos Servicios
            li
                a(href="#contacto").link-contacto Contacto