nav.nav#nav
    #toggle-menu.icon-menu
    .row
        ul#nav-ul
            li#saludo Welcome...!
            li
                a(href="#header").link-inicio <i class="icon-home"></i>Inicio
            li
                a(href="#proyectos").link-proyectos <i class="icon-briefcase"></i>Proyectos
            li
                a(href="#contacto").link-contacto <i class="icon-address-book"></i>Contacto
