nav.nav#nav
    #toggle-menu.icon-menu
    #togle-menu2.icon-home
    ul#nav-ul
        li#saludo Welcome...!
        li
            a(href="#header").link-inicio Inicio
        li
            a(href="#habilidades").link-habilidades Habilidades
        li
            a(href="#proyectos").link-proyectos Proyectos
        li
            a(href="#contacto").link-contacto Contacto