.row
    //- Inlcuimos los MIXINS - PORTAFOLIO
    include mixins/portafolio
    //- Incluimos archivo de configuración para el llenado de datos
    include ../config/portafolio
    
    section.section#proyectos
        h3.title ortafolio
        section.proyecto
            include busqueda
            .cards
                each project in portafolio
                    +portafolio(project.img,project.title,project.description,project.technologys,project.link)