//- Incluimos el mixin de servicios
include mixins/servicios

//- importamos el archivo de configuración de SERVICIOS con los datos necesarios
include ../config/servicios
//- Creamos un array para enviar los datos a cada servicio

.row
    section.section#servicios
        h3.title ervicios
        section.servicios
            each service in services
                +servicio(service.name,service.items,service.link)
            

