//- Incluimos el mixin SOCIAL.PUG
include mixins/social

section.social
    +social('https://www.facebook.com/cristhiancarlos.chaucamariaca.1')(class="icon-facebook2" id="keyframe-uno")
    +social("https://twitter.com/cris_chauca")(class="icon-twitter" id="keyframe-dos")
    +social('https://github.com/CristhianChaucaMariaca?tab=repositories')(class="icon-github" id="keyframe-tres")
    +social('https://hdesks.blogspot.com/')(class="icon-blogger" id="keyframe-cuatro")
    +social('https://www.linkedin.com/in/cristhian-carlos-chauca-mariaca')(class="icon-linkedin" id="keyframe-cinco")
    +social('https://wa.me/59172087907')(class="icon-whatsapp" id="keyframe-seis")
    +social('https://www.youtube.com/channel/UCa3NCItYc3T2puwjFcy4o0Q?disable_polymer=true')(class="icon-youtube" id="keyframe-siete")