@mixin btn{
    position: relative;
    padding:$padding;
    text-decoration: none;
    border-radius: $radius;
    margin: 5px;
    font-weight: 700;
    text-align: center;
}
@mixin primary {
    background-color: $color-1;
    color:$color-3;
    transition: $transition;
    &:hover{
        @include primary-hover;
    }
}
@mixin secondary {
    border: 1px solid $color-3;
    color:$color-3;
    &:hover{
        background-color: $color-3;
        color:$color-1;
        transition: .3s;
    }
}
@mixin primary-hover {
    background-color: $color-2;
    color: $color-4;
}
@mixin link_p {
    color: $color-3;
    &:hover{
        color: $color-1;
        text-decoration: underline!important;
        transition: $transition;
    }
}