extends ../templates/template

block prepend title
    - page ="Portafolio"

block main
    //- include ../includes/certificaciones
    //- include ../includes/habilidades
    include ../includes/portafolio
    //- include ../includes/experiencia
    //- include ../includes/servicios
    include ../includes/contacto
