-
    var navpage= [
        {
            text: "INICIO",
            class: "inicio",
            status: true
        },
        {
            text: "HABILIDADES",
            class: "habilidades",
            status: false
        },
        {
            text: "PROYECTOS",
            class: "proyectos",
            status: true
        },
        {
            text: "CONTACTO",
            class: "contacto",
            status: true
        }
    ]