-
    var navpage= [
        {
            text: "INICIO",
            class: "inicio"
        },
        {
            text: "HABILIDADES",
            class: "habilidades"
        },
        {
            text: "PROYECTOS",
            class: "proyectos"
        },
        {
            text: "Experiencia",
            class: "experiencias"
        },
        {
            text: "CONTACTO",
            class: "contacto"
        }
    ]