-
    var navpage= [
        {
            text: "Beginning",
            class: "header",
            status: true
        },
        {
            text: "HABILIDADES",
            class: "habilidades",
            status: false
        },
        {
            text: "See my projects",
            class: "proyectos",
            status: true
        },
        {
            text: "Contact me",
            class: "contacto",
            status: true
        }
    ]
