-
    var portafolio = [
        {
            img:"steakhouse",
            title:"The SteakHouse",
            description:"Menú del restaurante adaptado a dispositivos moviles",
            technologys:['css3','html5','pug','sass'],
            link:"https://cristhianchaucamariaca.github.io/steakhouse-international-forms/"
        },
        {
            img:"lacueva",
            title:"La Cueva",
            description:"La mejor comida mexicana para disfrutar.",
            technologys:['css3','html5','pug','sass'],
            link:"https://cristhianchaucamariaca.github.io/LaCueva-International-Forms/"
        },
        {
            img:"grillroom",
            title:"THE GRILLROOM",
            description:"Menú del restaurante donde se pueden ver sus platillos y precios.",
            technologys:['css3','html5','pug','sass'],
            link:"https://cristhianchaucamariaca.github.io/GrillRoom-International-Forms/"
        },
        {
            img:"dinos",
            title:"Dinos",
            description:"Restaurante familiar donde se puede pasar en familia.",
            technologys:['css3','html5','pug','sass'],
            link:"https://cristhianchaucamariaca.github.io/Dinos-International-Forms/"
        },
        {
            img:"litleitaly",
            title:"Litle Italy",
            description:"Restaurante de comida italiana.",
            technologys:['css3','html5','pug','sass'],
            link:"https://cristhianchaucamariaca.github.io/LitleItaly-International-Forms/"
        },
        {
            img:"sushiinn",
            title:"Sushi Inn",
            description:"Menú de restaurante con precios y fotografias adaptado a dispositivos movieles",
            technologys:['css3','html5','pug','sass'],
            link:"https://cristhianchaucamariaca.github.io/SushiInn-International-Forms/"
        },
        {
            img:"thedubliner",
            title:"The Dubliner",
            description:"Permite mostrar el menú del restaurante.",
            technologys:['css3','html5','pug','sass'],
            link:"https://cristhianchaucamariaca.github.io/TheDubliner-International-Forms/"
        },
        {
            img:"laravel",
            title:"Blog avanzado",
            description:"Descripción corta del proyecto detallado",
            technologys:['bootstrap','laravel','php','mysql'],
            link:"https://github.com/CristhianChaucaMariaca/CristhianChaucaMariaca.github.io"

        },
        {
            img:"mood",
            title:"Mood",
            description:"La mejor comida rápida, encuentra sus mejores platillos.",
            technologys:['css3','html5','pug','sass'],
            link:"https://cristhianchaucamariaca.github.io/Mood-International-forms/"
        },
        {
            img:"cubo",
            title:"Cubo 3D",
            description:"Cubo diseñado en CSS 3D",
            technologys:['css3','html5','pug','sass'],
            link:"https://codepen.io/cristhianchaucamariaca/pen/NWGYzVM"

        },
        {
            img:"Ichuri",
            title:"Ichuri Coffee",
            description:"Página web de Restaurante - Cafetería de la empresa Ichuri",
            technologys:['css3','html5','pug','sass','javascript'],
            link:"https://www.ichuri.net/"

        },
        {
            img:"laravel",
            title:"Blog HDesks",
            description:"Blog orientado a compartir información sobre tecnología",
            technologys:['css3','html5'],
            link:"https://www.hdesks.com"
        },
        {
            img:"laravel",
            title:"CRUD Laravel & Vue",
            description:"Práctica de CRUD realizada con las técnologias Laravel y Vue",
            technologys:['laravel','vue','bootstrap'],
            link:"https://github.com/CristhianChaucaMariaca/CRUD-Laravel-y-Vue"
        }
        ,
        {
            img:"laravel",
            title:"Search Simple",
            description:"Proyecto donde se realiza una busqueda simple por campos.",
            technologys:['laravel','vue','bootstrap'],
            link:"https://github.com/CristhianChaucaMariaca/Serach-Simple"
        }
        ,
        {
            img:"laravel",
            title:"Inventarío",
            description:"Desarrollo de Inventario con el metodo PEPs",
            technologys:['laravel','vue','bootstrap'],
            link:"https://github.com/CristhianChaucaMariaca/inventario"
        }
        ,
        {
            img:"laravel",
            title:"Contacto",
            description:"Pequeño modulo dedicado a la administración de contactos empresariales",
            technologys:['laravel','vue','bootstrap'],
            link:"https://github.com/CristhianChaucaMariaca/Contacto"
        }
    ]