-
    var portafolio = [
        {
            img:"laravel",
            title:"Blog avanzado",
            description:"Descripción corta del proyecto detallado",
            technologys:['bootstrap','laravel','bootstrap'],
            link:"https://github.com/CristhianChaucaMariaca/CristhianChaucaMariaca.github.io"

        },
        {
            img:"laravel",
            title:"Blog avanzado",
            description:"Descripción corta del proyecto detallado",
            technologys:['bootstrap','laravel'],
            link:"https://github.com/CristhianChaucaMariaca/CristhianChaucaMariaca.github.io"

        },
        {
            img:"vue",
            title:"Manejo de componentes",
            description:"Descripción corta del proyecto detallado",
            technologys:['bootstrap','vue'],
            link:"https://github.com/CristhianChaucaMariaca/CristhianChaucaMariaca.github.io"

        }
    ]