-
    var portafolio = [
        {
            img:"laravel",
            title:"Blog avanzado",
            description:"Descripción corta del proyecto detallado",
            technologys:['bootstrap','laravel','php','mysql'],
            link:"https://github.com/CristhianChaucaMariaca/CristhianChaucaMariaca.github.io"

        },
        {
            img:"cubo",
            title:"Cubo 3D",
            description:"Cubo diseñado en CSS 3D",
            technologys:['css3','html5','pug','sass'],
            link:"https://codepen.io/cristhianchaucamariaca/pen/NWGYzVM"

        },
        {
            img:"Ichuri",
            title:"Ichuri Coffee",
            description:"Página web de Restaurante - Cafetería de la empresa Ichuri",
            technologys:['css3','html5','pug','sass','javascript'],
            link:"https://www.ichuri.net/"

        },
        {
            img:"project-default",
            title:"Blog HDesks",
            description:"Blog orientado a compartir información sobre tecnología",
            technologys:['css3','html5'],
            link:"https://www.hdesks.com"
        },
        {
            img:"project-default",
            title:"CRUD Laravel & Vue",
            description:"Práctica de CRUD realizada con las técnologias Laravel y Vue",
            technologys:['laravel','vue','bootstrap'],
            link:"https://github.com/CristhianChaucaMariaca/CRUD-Laravel-y-Vue"
        }
        ,
        {
            img:"project-default",
            title:"Search Simple",
            description:"Proyecto donde se realiza una busqueda simple por campos.",
            technologys:['laravel','vue','bootstrap'],
            link:"https://github.com/CristhianChaucaMariaca/Serach-Simple"
        }
        ,
        {
            img:"project-default",
            title:"Inventarío",
            description:"Desarrollo de Inventario con el metodo PEPs",
            technologys:['laravel','vue','bootstrap'],
            link:"https://github.com/CristhianChaucaMariaca/inventario"
        }
        ,
        {
            img:"project-default",
            title:"Contacto",
            description:"Pequeño modulo dedicado a la administración de contactos empresariales",
            technologys:['laravel','vue','bootstrap'],
            link:"https://github.com/CristhianChaucaMariaca/Contacto"
        }
    ]