-
    var portafolio = [
        {
            img:"steakhouse",
            title:"The SteakHouse",
            description:"Menú del restaurante adaptado a dispositivos moviles",
            link:"https://cristhianchaucamariaca.github.io/steakhouse-international-forms/",
            git:"",
            figma:"",
        },
        {
            img:"lacueva",
            title:"La Cueva",
            description:"La mejor comida mexicana para disfrutar.",
            link:"https://cristhianchaucamariaca.github.io/LaCueva-International-Forms/",
            git:"",
            figma:"",
        },
        {
            img:"grillroom",
            title:"THE GRILLROOM",
            description:"Menú del restaurante donde se pueden ver sus platillos y precios.",
            link:"https://cristhianchaucamariaca.github.io/GrillRoom-International-Forms/",
            git:"",
            figma:"",
        },
        {
            img:"dinos",
            title:"Dinos",
            description:"Restaurante familiar donde se puede pasar en familia.",
            link:"https://cristhianchaucamariaca.github.io/Dinos-International-Forms/",
            git:"",
            figma:"",
        },
        {
            img:"litleitaly",
            title:"Litle Italy",
            description:"Restaurante de comida italiana.",
            link:"https://cristhianchaucamariaca.github.io/LitleItaly-International-Forms/",
            git:"",
            figma:"",
        },
        {
            img:"sushiinn",
            title:"Sushi Inn",
            description:"Menú de restaurante con precios y fotografias adaptado a dispositivos movieles",
            link:"https://cristhianchaucamariaca.github.io/SushiInn-International-Forms/",
            git:"",
            figma:"",
        },
        {
            img:"thedubliner",
            title:"The Dubliner",
            description:"Permite mostrar el menú del restaurante.",
            link:"https://cristhianchaucamariaca.github.io/TheDubliner-International-Forms/",
            git:"",
            figma:"",
        },
        {
            img:"laravel",
            title:"Blog avanzado",
            description:"Descripción corta del proyecto detallado",
            link:"https://github.com/CristhianChaucaMariaca/CristhianChaucaMariaca.github.io",
            git:"",
            figma:"",

        },
        {
            img:"mood",
            title:"Mood",
            description:"La mejor comida rápida, encuentra sus mejores platillos.",
            link:"https://cristhianchaucamariaca.github.io/Mood-International-forms/",
            git:"",
            figma:"",
        },
        {
            img:"cubo",
            title:"Cubo 3D",
            description:"Cubo diseñado en CSS 3D",
            link:"https://codepen.io/cristhianchaucamariaca/pen/NWGYzVM",
            git:"",
            figma:"",

        },
        {
            img:"Ichuri",
            title:"Ichuri Coffee",
            description:"Página web de Restaurante - Cafetería de la empresa Ichuri",
            link:"https://www.ichuri.net/",
            git:"",
            figma:"",

        },
        {
            img:"laravel",
            title:"Blog HDesks",
            description:"Blog orientado a compartir información sobre tecnología",
            link:"https://www.hdesks.com",
            git:"",
            figma:"",
        },
        {
            img:"laravel",
            title:"CRUD Laravel & Vue",
            description:"Práctica de CRUD realizada con las técnologias Laravel y Vue",
            link:"https://github.com/CristhianChaucaMariaca/CRUD-Laravel-y-Vue",
            git:"",
            figma:"",
        }
        ,
        {
            img:"laravel",
            title:"Search Simple",
            description:"Proyecto donde se realiza una busqueda simple por campos.",
            link:"https://github.com/CristhianChaucaMariaca/Serach-Simple",
            git:"",
            figma:"",
        }
        ,
        {
            img:"laravel",
            title:"Inventarío",
            description:"Desarrollo de Inventario con el metodo PEPs",
            link:"https://github.com/CristhianChaucaMariaca/inventario",
            git:"",
            figma:"",
        }
        ,
        {
            img:"laravel",
            title:"Contacto",
            description:"Pequeño modulo dedicado a la administración de contactos empresariales",
            link:"https://github.com/CristhianChaucaMariaca/Contacto",
            git:"",
            figma:"",
        }
    ]