-
    var services = [
        {
            name: "Diseño Web",
            items: ['Webs Profesionales','Webs Multiplataforma','Con los mejores estandares de navegación','Posicionamiento Web SEO','Soporte & Administración de contenidos'],
            link: "https://www.youtube.com"
        },
        {
            name: "Desarrollo Web",
            items: ['Diseño Backend', 'Diseño Frontend','Diseño de bases de datos','Desarrollo de sistemas basado en POO','Lenguaje Backend PHP (Laravel)','Lenguaje Frontend Javascript (VUEjs)', 'Bases de datos Mysql'],
            link: "https://www.youtube.com"
        }
    ]