-
    var services = [
        {
            title: "Diseño Web",
            icon: 'computadora',
            description: "Obtenga precencia en internet con un sitio profesional, elegante e intuitivo."
        },
        {
            title: "Desarrollo Web",
            icon: 'code',
            description: "Facilite el trabajo de su empresa automatizando procesos repetitivos."
        },
        {
          title:"SEO",
          icon: 'seo',
          description: "Posicionando su Web en los buscadores y alcance mejores resultados en su negocio."
        }
    ]