-
    var services = [
        {
            name: "Diseño Web",
            items: ['Wordpress','Webs a medida', 'Blogger','Diseño Responsive','Soporte & Administración de contenidos'],
            link: "#"
        },
        {
            name: "Desarrollo Web",
            items: ['Diseño Backend PHP', 'Diseño Frontend JavaScript','Bases de datos MySql','Administración de usuarios','Roles & permisos','Sistemas a medida'],
            link: "#"
        },
        {
          name:"SEO",
          items: ['Alta en Analytics','Alta en Serch Console','Analisis de Meta etiquetas','Analisis de palabras clave','Alta en navegadores', 'Datos Estructurados', 'Alta en AdSense'],
          link: "#"
        }
    ]