-
    var services = [
        {
            name: "Desarrollo Android",
            items: ['Diseño de bases de datos','Diseño de bases de datos','Diseño de bases de datos','Diseño de bases de datos'],
            link: "https://www.youtube.com"
        },
        {
            name: "Desarrollo Android",
            items: ['Diseño de bases de datos','Diseño de bases de datos','Diseño de bases de datos','Diseño de bases de datos'],
            link: "https://www.youtube.com"
        },
        {
            name: "Desarrollo Android",
            items: ['Diseño de bases de datos','Diseño de bases de datos','Diseño de bases de datos','Diseño de bases de datos'],
            link: "https://www.youtube.com"
        },
        {
            name: "Desarrollo Android",
            items: ['Diseño de bases de datos','Diseño de bases de datos','Diseño de bases de datos','Diseño de bases de datos'],
            link: "https://www.youtube.com"
        },
        {
            name: "Desarrollo Android",
            items: ['Diseño de bases de datos','Diseño de bases de datos','Diseño de bases de datos','Diseño de bases de datos'],
            link: "https://www.youtube.com"
        }
    ]