- 
    var socials = [
        {
            enlace: "https://twitter.com/cris_chauca",
            class:"icon-twitter",
            id:"twitter"
        },
        {
            enlace: "https://github.com/CristhianChaucaMariaca?tab=repositories",
            class:"icon-github",
            id:"github"
        },
        {
            enlace: "https://www.linkedin.com/in/cristhian-carlos-chauca-mariaca",
            class:"icon-linkedin",
            id:"linkedin"
        },
        {
            enlace: "https://wa.me/59172087907",
            class: "icon-whatsapp",
            id:"whatsapp"
        }
    ]
