- 
    var socials = [
        {
            enlace: "https://www.facebook.com/cristhiancarlos.chaucamariaca.1",
            class:"icon-facebook2"
        },
        {
            enlace: "https://twitter.com/cris_chauca",
            class:"icon-twitter"
        },
        {
            enlace: "https://github.com/CristhianChaucaMariaca?tab=repositories",
            class:"icon-github"
        },
        {
            enlace: "https://hdesks.blogspot.com/",
            class:"icon-blogger"
        },
        {
            enlace: "https://www.youtube.com/channel/UCa3NCItYc3T2puwjFcy4o0Q?disable_polymer=true",
            class:"icon-youtube"
        },
        {
            enlace: "https://www.linkedin.com/in/cristhian-carlos-chauca-mariaca",
            class:"icon-linkedin"
        },
        {
            enlace: "https://wa.me/59172087907",
            class: "icon-whatsapp"
        }
    ]