section.section#experiencias
    h3.title xperiencia laboral
    section.experiencia
        article.experiencia-item
            .experiencia-title
                h4 comp srl
            .experiencia-description
                p Empresa que se dedica a proporcionar soluciones integrales basadas en Tecnología de avanzada, brindando a cada uno de nuestros clientes desarrollo tecnológico estableciendo relaciones duraderas de lealtad, satisfacción, beneficio mutuo y responsabilidad social.
                p Mi experiencia en dicha empresa fue satisfactoria ya que pude desembolverme de una forma comoda y profesional, trabajando con instituciones publicas como privadas proporcionando soporte técnico a equipos de computación, impresoras de marca reconocida como <b>DELL</b>, <b>HP</b>, <b>Apple</b>, <b>Epson</b>, <b>CANON</b>, a las que se brindo soluciones rápidas y efectivas.
                p Mi desempeño inicio en fecha 1 noviembre de 2017 y finalizo el 8 abril de 2019.
            .experiencia-dates
                .experiencia-gerente
                    span.text Rodrigo Mallea Almaraz&nbsp;
                    span.icon.icon-user-tie
                .experiencia-labor
                    span.text Gerente General&nbsp;
                    span.icon.icon-wrench
                //- .experiencia-time
                //-     //- TODO: Modificar la fecha de salida de la empresa
                //-     span.text 1 noviembre 2017 hasta 8 abril 2019 &nbsp;
                //-     span.icon.icon-clock
                .experiencia-phone
                    a.text(href="https://wa.me/59176767663", target="_blank") +591 - 76767663&nbsp;
                    span.icon.icon-phone
                .experiencia-email
                    a.text(href="mailto:info@xcompbo.com" target="_blank") info@xcompbo.com&nbsp;
                    span.icon.icon-mail2
                .experiencia-web
                    a(href="http://www.xcompbo.com", target="_blank") Xcompbo.com&nbsp;
                    span.icon.icon-cloud
                

                