footer.footer-1
    ul
        li
            a(href="#") Item 1
        li
            a(href="#") Item 2
        li
            a(href="#") Item 3
        li
            a(href="#") Item 4
footer.footer-nav
    ul
        li
            a(href="") Lorem.
        li
            a(href="") Lorem.
        li
            a(href="") Lorem.
        li
            a(href="") Lorem.
footer.footer-2
    p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ullam aperiam rem vel veniam sapiente vitae nam animi reiciendis rerum. Debitis quisquam corrupti totam nemo explicabo distinctio, ea modi assumenda aperiam?
footer.footer-3
    p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eligendi quis odio iste! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur, consequuntur sed. Veniam, ex beatae illo, delectus eligendi nobis earum corporis non nihil laboriosam dolores dolor architecto ducimus molestiae! Sunt, alias!
footer.copy-right
    p Cristhian Chauca @ 2019