footer.footer-1
    .footer-ul
        a.icon-facebook2(href="https://www.facebook.com/cristhiancarlos.chaucamariaca.1", target="_blank")
        a.icon-twitter(href="https://twitter.com/cris_chauca", target="_blank")
        a.icon-github(href="https://github.com/CristhianChaucaMariaca?tab=repositories", target="_blank")
        a.icon-blogger(href="https://cristhianchauca.blogspot.com/", target="_blank")
        a.icon-youtube(href="https://www.youtube.com/channel/UCa3NCItYc3T2puwjFcy4o0Q?disable_polymer=true", target="_blank")
        a.icon-linkedin(href="https://www.linkedin.com/in/cristhian-carlos-chauca-mariaca", target="_blank")
        a.icon-whatsapp(href="https://wa.me/59172087907", target="_blank")
footer.footer-nav
    ul
        li
            a(href="#").link-inicio INICIO
        li
            a(href="#").link-certificaciones CERTIFICACIONES
        li
            a(href="#").link-habilidades HABILIDADES
        li
            a(href="#").link-proyectos PROYECTOS
        li
            a(href="#").link-experiencias Experiencia
        li
            a(href="#").link-contacto CONTACTO
footer.copy-right
    p Cristhian Chauca @ 2019