footer.footer-1
    .footer-ul
        li
            a.icon-facebook2(href="https://www.facebook.com/cristhiancarlos.chaucamariaca.1", target="_blank")  Facebook 
        li
            a.icon-twitter(href="#", target="_blank")  Twitter
        li
            a.icon-github(href="#", target="_blank")  Github
        li
            a.icon-skype(href="#", target="_blank")  Skype
        li
            a.icon-linkedin(href="#", target="_blank")  Linkedin
        li
            a.icon-whatsapp(href="https://wa.me/59172087907", target="_blank")  Whatsapp
footer.footer-nav
    ul
        li
            a(href="#").link-inicio Inicio
        li
            a(href="#").link-certificaciones CERTIFICACIONES
        li
            a(href="#").link-habilidades HABILIDADES
        li
            a(href="#").link-proyectos PROYECTOS
        li
            a(href="#").link-contacto CONTACTO
footer.footer-2
    p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ullam aperiam rem vel veniam sapiente vitae nam animi reiciendis rerum. Debitis quisquam corrupti totam nemo explicabo distinctio, ea modi assumenda aperiam?
footer.footer-3
    p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eligendi quis odio iste! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur, consequuntur sed. Veniam, ex beatae illo, delectus eligendi nobis earum corporis non nihil laboriosam dolores dolor architecto ducimus molestiae! Sunt, alias!
footer.copy-right
    p Cristhian Chauca @ 2019