section.section#habilidades
    h3.title abilidades
    .hr
    section.habilidad
        article.habilidad-item
            .habilidad-title
                h4 Html5
            .habilidad-porcentaje
                .habilidad-progress
                    .habilidad-line-base
                    .habilidad-line-progress#html
                .habilidad-progress-number
                    p#html-label 80%
        article.habilidad-item
            .habilidad-title
                h4 Css3
            .habilidad-porcentaje
                .habilidad-progress
                    .habilidad-line-base
                    .habilidad-line-progress#css3
                .habilidad-progress-number
                    p#css3-label 90%
        article.habilidad-item
            .habilidad-title
                h4 Sass
            .habilidad-porcentaje
                .habilidad-progress
                    .habilidad-line-base
                    .habilidad-line-progress#sassvar
                .habilidad-progress-number
                    p#sassvar-label 50%
        article.habilidad-item
            .habilidad-title
                h4 Pug
            .habilidad-porcentaje
                .habilidad-progress
                    .habilidad-line-base
                    .habilidad-line-progress#pugvar
                .habilidad-progress-number
                    p#pugvar-label 50%
        article.habilidad-item
            .habilidad-title
                h4 JavaScript
            .habilidad-porcentaje
                .habilidad-progress
                    .habilidad-line-base
                    .habilidad-line-progress#javascriptvar
                .habilidad-progress-number
                    p#javascriptvar-label 30%
        article.habilidad-item
            .habilidad-title
                h4 JQuery
            .habilidad-porcentaje
                .habilidad-progress
                    .habilidad-line-base
                    .habilidad-line-progress#jqueryvar
                .habilidad-progress-number
                    p#jqueryvar-label 70%
        article.habilidad-item
            .habilidad-title
                h4 Java
            .habilidad-porcentaje
                .habilidad-progress
                    .habilidad-line-base
                    .habilidad-line-progress#javavar
                .habilidad-progress-number
                    p#javavar-label 60%
        article.habilidad-item
            .habilidad-title
                h4 Php
            .habilidad-porcentaje
                .habilidad-progress
                    .habilidad-line-base
                    .habilidad-line-progress#phpvar
                .habilidad-progress-number
                    p#phpvar-label 60%
        article.habilidad-item
            .habilidad-title
                h4 Laravel
            .habilidad-porcentaje
                .habilidad-progress
                    .habilidad-line-base
                    .habilidad-line-progress#laravelvar
                .habilidad-progress-number
                    p#laravelvar-label 30%
        article.habilidad-item
            .habilidad-title
                h4 MySql
            .habilidad-porcentaje
                .habilidad-progress
                    .habilidad-line-base
                    .habilidad-line-progress#mysqlvar
                .habilidad-progress-number
                    p#mysqlvar-label 80%
        article.habilidad-item
            .habilidad-title
                h4 Python
            .habilidad-porcentaje
                .habilidad-progress
                    .habilidad-line-base
                    .habilidad-line-progress#pythonvar
                .habilidad-progress-number
                    p#pythonvar-label 5%
        article.habilidad-item
            .habilidad-title
                h4 Git-Github
            .habilidad-porcentaje
                .habilidad-progress
                    .habilidad-line-base
                    .habilidad-line-progress#gitvar
                .habilidad-progress-number
                    p#gitvar-label 70%
        article.habilidad-item
            .habilidad-title
                h4 Seguridad
            .habilidad-porcentaje
                .habilidad-progress
                    .habilidad-line-base
                    .habilidad-line-progress#securityvar
                .habilidad-progress-number
                    p#securityvar-label 10%
        article.habilidad-item
            .habilidad-title
                h4 Linux
            .habilidad-porcentaje
                .habilidad-progress
                    .habilidad-line-base
                    .habilidad-line-progress#linuxvar
                .habilidad-progress-number
                    p#linuxvar-label 50%
        article.habilidad-item
            .habilidad-title
                h4 Photoshop
            .habilidad-porcentaje
                .habilidad-progress
                    .habilidad-line-base
                    .habilidad-line-progress#photoshopvar
                .habilidad-progress-number
                    p#photoshopvar-label 80%
        article.habilidad-item
            .habilidad-title
                h4 SEO
            .habilidad-porcentaje
                .habilidad-progress
                    .habilidad-line-base
                    .habilidad-line-progress#seovar
                .habilidad-progress-number
                    p#seovar-label 80%                        