header.header
    section.perfil
        span.saludo Welcome..! <br>
        h1.name 
            span.x risthian 
            span.x . 
            span.x hauca 
            span.y ariaca
        article.descripcion
            p Soy una persona autodidacta, entuciasmado por captar día a día nuevos conocimientos, que me ayuden a superarme en la carrera que escogi. Mi meta sera siempre ser el mejor en mis labores diarias.
        p.icon.icon-embed2