doctype html
html
    head
        link(rel="stylesheet" href="css/estilos.css")
        link(rel="stylesheet" href="fonts/style.css")
    body
        .container
            header
                section#portada
                    h1.titulo Cristhian Chauca
                    #icon-portada.icon-embed2
                    span.etiqueta Desarrollador web
                        span.icon-pencil
                section.navegador
                    nav
                        ul
                            li 
                                span#saludo Hello!
                            li
                                a(href="index.html") Portafolio
                            li
                                a(href="") Hobies
                            li
                                a(href="") Social
                            li
                                a(href="") Contacto
            section.portafolio
                .titulo-gen
                    h2 ortafolio
                .trabajos
                    .item
                        .titulo-item
                            h3 Lorem ipsum sum
                        a(href="")
                            img(src="")
                    
                
                    

        