doctype html
html
    head
        link(rel="stylesheet" href="css/estilos.css")
        link(rel="stylesheet" href="fonts/style.css")
    body
        .container
            header
                section#portada
                    h1.titulo Cristhian Chauca
                    #icon-portada.icon-embed2
                    span.etiqueta Desarrollador web
                        span.icon-pencil
                section.navegador
                    nav
                        ul
                            li
                                span#saludo Hello!
                            li
                                a(href='index.html') Portafolio
            section.cris
              h3.name Cristhian C. Chauca M.
              h4.slogan Analista de sistemas informaticos
              p
                span.icon-quotes-left.text-color3
                span  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                span.icon-quotes-right.text-color3
            section.portafolio
                .titulo-gen
                    h2 ecnologias
                .trabajos
                    .item.oscuro
                        .titulo-item
                            h3 Laravel
                        hr
                        .descripcion-item
                          p Una de las tecnológias mas usadas en el ambito del desarrollo que permite desarrollar aplicaciones de manera rapida, sencilla, coreecta.
                    .item.claro
                        .titulo-item
                            h3 Vue.js
                        hr
                        .descripcion-item
                            p Una de las tecnológias mas usadas en el ambito del desarrollo que permite desarrollar aplicaciones de manera rapida, sencilla, coreecta.
                    .item.oscuro
                        .titulo-item
                            h3 Vue.js
                        hr
                        .descripcion-item
                            p Una de las tecnológias mas usadas en el ambito del desarrollo que permite desarrollar aplicaciones de manera rapida, sencilla, coreecta.
        footer.footer
            h3.title Social
            section.social
                .social-link
                    a(href="")
                        span.icon-facebook
                .social-link
                    a(href="")
                        span.icon-whatsapp
                .social-link
                    a(href="")
                        span.icon-twitter
                .social-link
                    a(href="")
                        span.icon-blogger
                .social-link
                    a(href="")
                        span.icon-linkedin2
