<!DOCTYPE html>
html(lang="es")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        link(rel="stylesheet", href="css/estilos.css")
        link(rel="stylesheet", href="fonts/style.css")
        link(rel="icon", href="media/icon.png", type="image/png")
        script(src="https://code.jquery.com/jquery-3.4.0.min.js")
        title Cristhian C. Chauca Mariaca
    body
        .container
            include nav.pug
            include social.pug
            header.header
                section.perfil
                    span.saludo Welcome..! <br>
                    h1.name 
                        span.x risthian 
                        span.x . 
                        span.x hauca 
                        span.y ariaca
                    article.descripcion
                        p Soy una persona autodidacta, entusiasmado por captar día a día nuevos conocimientos, que me ayuden a superarme en la carrera que escogí. Mi meta sera siempre ser el mejor en mis labores diarias.
                    p.icon.icon-embed2
                
            main.body
                section.section#certificaciones
                    h3.title Certificaciones
                    .hr
                    section.icons-description
                        .item-icon
                            p  Destacado
                            span.icon-trophy
                    section.certificado
                        article.certificado-item
                            .certificado-icon.icon-bookmark
                            .destacado.icon-trophy
                            .certificado-title
                                h4 CCNA Routing and Switching: Introducción a redes
                            .certificado-body
                                p En este curso se impartieron conceptos básicos pero esenciales para la configuración de una red empresarial grande, mediana o pequeña.
                                img.institucion(src="media/logos/cisco_netacad_logo.jpg", alt="", srcset="")
                            .certificado-link
                                a(href="media/certificados/CRISTHIAN+CARLOSCHAUCA+MARIACA-BO-TKNLPZ191-1LWVN-4-Certificate.pdf", target="_blank").icon-link  Ver Certificación
                        article.certificado-item
                            .certificado-icon.icon-bookmark
                            .destacado.icon-trophy
                            .certificado-title
                                h4 NDG Linux Unhatched
                            .certificado-body
                                p Curso en linea donde se tocan conceptos basicos de manipulacion de consola en entorno linux.
                                img.institucion(src="media/logos/cisco_netacad_logo.jpg", alt="", srcset="")
                            .certificado-link
                                a(href="media/certificados/NDGLinuxUnhatched.pdf", target="_blank").icon-link  Ver Certificación
                        article.certificado-item
                            .certificado-icon.icon-bookmark
                            .destacado.icon-trophy
                            .certificado-title
                                h4 SE CoreClient Credential 2018
                            .certificado-body
                                p Curso en linea donde se tocan conceptos basicos de manipulacion de consola en entorno linux.
                                img.institucion(src="media/logos/dell_emc.jpg", alt="", srcset="")
                            .certificado-link
                                a(href="media/certificados/SE_CoreClientCredential2018certificate.pdf", target="_blank").icon-link  Ver Certificación
                        article.certificado-item
                            .certificado-icon.icon-bookmark
                            .certificado-title
                                h4 Marketing Credential 2018
                            .certificado-body
                                p Curso en linea donde se tocan conceptos basicos de manipulacion de consola en entorno linux.
                                img.institucion(src="media/logos/dell_emc.jpg", alt="", srcset="")
                            .certificado-link
                                a(href="media/certificados/MarketingCredential2018certificate.pdf", target="_blank").icon-link  Ver Certificación
                        article.certificado-item
                            .certificado-icon.icon-bookmark
                            .certificado-title
                                h4 SE CoreClient Credential 2017
                            .certificado-body
                                p Curso en linea donde se tocan conceptos basicos de manipulacion de consola en entorno linux.
                                img.institucion(src="media/logos/dell_emc.jpg", alt="", srcset="")
                            .certificado-link
                                a(href="media/certificados/SE_CoreClientCredential2017certificate.pdf", target="_blank").icon-link  Ver Certificación
                        article.certificado-item
                            .certificado-icon.icon-bookmark
                            .certificado-title
                                h4 Sales Core Client Credential 2017
                            .certificado-body
                                p Curso en linea donde se tocan conceptos basicos de manipulacion de consola en entorno linux.
                                img.institucion(src="media/logos/dell_emc.jpg", alt="", srcset="")
                            .certificado-link
                                a(href="media/certificados/Sales_CoreClientCredential2017certificate.pdf", target="_blank").icon-link  Ver Certificación
                        article.certificado-item
                            .certificado-icon.icon-bookmark
                            .certificado-title
                                h4 Marketing Specialist Credential 2017
                            .certificado-body
                                p Curso en linea donde se tocan conceptos basicos de manipulacion de consola en entorno linux.
                                img.institucion(src="media/logos/dell_emc.jpg", alt="", srcset="")
                            .certificado-link
                                a(href="media/certificados/MarketingSpecialistCredential2017certificate.pdf", target="_blank").icon-link  Ver Certificación
                        
                        
                        
                section.section#habilidades
                    h3.title Habilidades
                    .hr
                    section.habilidad
                        article.habilidad-item
                            .habilidad-title
                                h4 Html5
                            .habilidad-porcentaje
                                .habilidad-progress
                                    .habilidad-line-base
                                    .habilidad-line-progress#html
                                .habilidad-progress-number
                                    p#html-label 80%
                        article.habilidad-item
                            .habilidad-title
                                h4 Css3
                            .habilidad-porcentaje
                                .habilidad-progress
                                    .habilidad-line-base
                                    .habilidad-line-progress#css3
                                .habilidad-progress-number
                                    p#css3-label 90%
                        article.habilidad-item
                            .habilidad-title
                                h4 Sass
                            .habilidad-porcentaje
                                .habilidad-progress
                                    .habilidad-line-base
                                    .habilidad-line-progress#sassvar
                                .habilidad-progress-number
                                    p#sassvar-label 50%
                        article.habilidad-item
                            .habilidad-title
                                h4 Pug
                            .habilidad-porcentaje
                                .habilidad-progress
                                    .habilidad-line-base
                                    .habilidad-line-progress#pugvar
                                .habilidad-progress-number
                                    p#pugvar-label 50%
                        article.habilidad-item
                            .habilidad-title
                                h4 JavaScript
                            .habilidad-porcentaje
                                .habilidad-progress
                                    .habilidad-line-base
                                    .habilidad-line-progress#javascriptvar
                                .habilidad-progress-number
                                    p#javascriptvar-label 30%
                        article.habilidad-item
                            .habilidad-title
                                h4 JQuery
                            .habilidad-porcentaje
                                .habilidad-progress
                                    .habilidad-line-base
                                    .habilidad-line-progress#jqueryvar
                                .habilidad-progress-number
                                    p#jqueryvar-label 70%
                        article.habilidad-item
                            .habilidad-title
                                h4 Java
                            .habilidad-porcentaje
                                .habilidad-progress
                                    .habilidad-line-base
                                    .habilidad-line-progress#javavar
                                .habilidad-progress-number
                                    p#javavar-label 60%
                        article.habilidad-item
                            .habilidad-title
                                h4 MySql
                            .habilidad-porcentaje
                                .habilidad-progress
                                    .habilidad-line-base
                                    .habilidad-line-progress#mysqlvar
                                .habilidad-progress-number
                                    p#mysqlvar-label 80%
                        article.habilidad-item
                            .habilidad-title
                                h4 Python
                            .habilidad-porcentaje
                                .habilidad-progress
                                    .habilidad-line-base
                                    .habilidad-line-progress#pythonvar
                                .habilidad-progress-number
                                    p#pythonvar-label 5%
                        article.habilidad-item
                            .habilidad-title
                                h4 Git-Github
                            .habilidad-porcentaje
                                .habilidad-progress
                                    .habilidad-line-base
                                    .habilidad-line-progress#gitvar
                                .habilidad-progress-number
                                    p#gitvar-label 70%
                        article.habilidad-item
                            .habilidad-title
                                h4 Seguridad
                            .habilidad-porcentaje
                                .habilidad-progress
                                    .habilidad-line-base
                                    .habilidad-line-progress#securityvar
                                .habilidad-progress-number
                                    p#securityvar-label 10%
                        
                        
                section.section#proyectos
                    h3.title Proyectos
                    .hr
                    section.proyecto
                        a(href="https://www.ichuri.net", target="_blank")
                            article.proyecto-item
                                .proyecto-title
                                    h4 Ichuri.net
                                .proyecto-body
                                    p Restaurant perteneciente a una fundación sin fines de lucro.                                                 
                        a(href="https://www.ichuri.net", target="_blank")
                            article.proyecto-item
                                .proyecto-title
                                    h4 Ichuri.net
                                .proyecto-body
                                    p Restaurant perteneciente a una fundación sin fines de lucro.                                                 
                        a(href="https://www.ichuri.net", target="_blank")
                            article.proyecto-item
                                .proyecto-title
                                    h4 Ichuri.net
                                .proyecto-body
                                    p Restaurant perteneciente a una fundación sin fines de lucro.                                                 
                            
                        
                section.section#contacto
                    section.contacto
                        //- .icon.icon-user-tie
                        .email
                            h4  cristhiancchm@gmail.com
                        .cellphone
                            h4  72087907
                        .icon.icon-phone

                            
            include footer.pug
        .inicio
            #content-carga
                .icon-embed2
                #carga
        script(src="js/script.js")