doctype html
html
    head
        link(rel="stylesheet" href="css/estilos.css")
        link(rel="stylesheet" href="fonts/style.css")
    body
        .container
            header
                section#portada
                    h1.titulo Cristhian Chauca
                    #icon-portada.icon-embed2
                    span.etiqueta Desarrollador web
                        span.icon-pencil
                section.navegador
                    nav
                        ul
                            li
                                span#saludo Hello!
                            li
                                a(href='index.html') Portafolio
            section.cris
                img(src="media/cristhianchauca.png")
                h3.name Cristhian C. Chauca M.
                h4.slogan Analista de sistemas informaticos
                p
                    span.icon-quotes-left.text-color3
                    span  Una de mis mas grandes pasiones, el desarrollo de aplicaciones web.
                    span.icon-quotes-right.text-color3
            section.portafolio
                .titulo-cap
                    h2 apacidades
                .trabajos
                    .item.oscuro
                        .titulo-item
                            h3 Autodidacta
                        hr
                        .descripcion-item
                          p La investigación es una de mis mas grandes virtudes, ya que me encanta conocer mas de mi carrera, actualizarme en todas las tecnologias que existen y puedan surgir, para lograr un trabajo profesional y de buena calidad.
                          .img
                            img(src="media/libro.png")
                    .item.claro
                        .titulo-item
                            h3 Puntual
                        hr
                        .descripcion-item
                            .img
                                img(src="media/reloj.png")
                            p La puntualidad en una persona dice mucho de su trabajo, habla de la seriedad, respeto, profesionalismo con su vida y sus clientes o trabajo que desempeña dia con dia, y esta es una cualidad que me representa.
                    .item.oscuro
                        .titulo-item
                            h3 Proactivo
                        hr
                        .descripcion-item
                          p Estar preparado para futuros problemas, desarrollar software que nos permita facilitar y mejorar la productividad de las labores diarias, es una tarea dificil pero es una tarea que me da mayor satisfacción, ir un paso adelante de las interrogantes que surgan.
                          .img
                            img(src="media/pregunta.png")
            section.portafolio
                .titulo-gen
                    h2 ecnologias
                .trabajos
                    .item.oscuro
                        .titulo-item
                            h3 Backend
                        hr
                        .descripcion-item
                          p Una de las tecnológias mas usadas en el ambito del desarrollo que permite desarrollar aplicaciones de manera rapida, sencilla, correcta, con el lenguaje de programación PHP.
                          .img
                            img(src="media/html-css.png")
                    .item.claro
                        .titulo-item
                            h3 Frontend
                        hr
                        .descripcion-item
                            .img
                                img(src="media/laravel.png")
                            p Una de las tecnológias mas usadas en el ambito del desarrollo que permite desarrollar aplicaciones de manera rapida, sencilla, coreecta.
                    .item.oscuro
                        .titulo-item
                            h3 Vue.js
                        hr
                        .descripcion-item
                            p Una de las tecnológias mas usadas en el ambito del desarrollo que permite desarrollar aplicaciones de manera rapida, sencilla, coreecta.
                .projects
                    .title-projects
                        h2 Proyectos - Software
                    .projects-var
                        .project
                            .title-project
                                h4 Modelo de inventario
                            .img-project
                                a(href='')
                                    img(src="")
                            .description-project
                                p Base para personalizar un inventario de cualquier empresa.
                            .link-project
                                a(href='https://www.facebook.com/cristhiancarlos.chaucamariaca.1') Ver Proyecto
                        .project
                            .title-project
                                h4 Contactos
                            .img-project
                                a(href="")
                                    img(src="")
                            .description-project
                                p Una de las tecnológias mas usadas .
                            .link-project
                                a(href="") Ver Proyecto
                        .project
                            .title-project
                                h4 Help Desk
                            .img-project
                                a(href="")
                                    img(src="")
                            .description-project
                                p Una de las tecnológias mas usadas en el ambito del desarrollo que permite desarrollar. coreecta.
                            .link-project
                                a(href="") Ver Proyecto

        footer.footer
            h3.title Social
            section.social
                .social-link
                    a(href='https://www.facebook.com/cristhiancarlos.chaucamariaca.1'): span.icon-facebook
                .social-link
                    a(href="https://www.facebook.com/cristhiancarlos.chaucamariaca.1"): span.icon-whatsapp
                .social-link
                    a(href="")
                        span.icon-twitter
                .social-link
                    a(href="")
                        span.icon-blogger
                .social-link
                    a(href="")
                        span.icon-linkedin2
