doctype html
html
    head
        link(rel="stylesheet" href="css/estilos.css")
        link(rel="stylesheet" href="fonts/style.css")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
    body
        .container
            header
                section#portada
                    h1.titulo Cristhian Chauca
                    #icon-portada.icon-embed2
                    span.etiqueta Desarrollador web
                        span.icon-pencil
                section.navegador
                    nav
                        ul
                            li
                                span#saludo Hello!
                            li
                                a(href='index.html') Capacidades
                            li
                                a(href='index.html') Tecnologias
                            li
                                a(href='index.html') Proyectos
                            li
                                a(href='index.html') Certificaciones
            section.cris
                .img
                h3.name Cristhian C. Chauca M.
                h4.slogan Analista de sistemas informaticos
                p
                    span.icon-quotes-left.text-color3
                    span  Una de mis mas grandes pasiones, el desarrollo de aplicaciones web.
                    span.icon-quotes-right.text-color3
            section.portafolio
                .titulo-cap
                    h2 apacidades
                .trabajos
                    .item.oscuro
                        .titulo-item
                            h3 Autodidacta
                        .hr
                        .descripcion-item
                          p La investigación es una de mis mas grandes virtudes, ya que me encanta conocer mas de mi carrera, actualizarme en todas las tecnologias que existen y puedan surgir, para lograr un trabajo profesional y de buena calidad.
                          .img
                            img(src="media/libro.png")
                    .item.claro
                        .titulo-item
                            h3 Puntual
                        .hr
                        .descripcion-item
                            .img
                                img(src="media/reloj.png")
                            p La puntualidad en una persona dice mucho de su trabajo, habla de la seriedad, respeto, profesionalismo con su vida y sus clientes o trabajo que desempeña dia con dia, y esta es una cualidad que me representa.
                    .item.oscuro
                        .titulo-item
                            h3 Proactivo
                        .hr
                        .descripcion-item
                          p Estar preparado para futuros problemas, desarrollar software que nos permita facilitar y mejorar la productividad de las labores diarias, es una tarea dificil pero es una tarea que me da mayor satisfacción, ir un paso adelante de las interrogantes que surgan.
                          .img
                            img(src="media/pregunta.png")
            section.portafolio
                .titulo-gen
                    h2 ecnologias
                .tecnologias
                    .item.oscuro
                        section.tec-tipo
                            .titulo-item
                                h3 Backend & Frontend
                            section.techs
                                .tech
                                    .name
                                        span HTML5
                                    .bar
                                        .base
                                            .progres#prog-1
                                    .porcentaje
                                        span 90%
                                .tech
                                    .name
                                        span Css3
                                    .bar
                                        .base
                                            .progres#prog-2
                                    .porcentaje
                                        span 80%
                                .tech
                                    .name
                                        span Laravel-php
                                    .bar
                                        .base
                                            .progres#prog-3
                                    .porcentaje
                                        span 50%
                                .tech
                                    .name
                                        span Vue-javascript
                                    .bar
                                        .base
                                            .progres#prog-4
                                    .porcentaje
                                        span 30%
                                .tech
                                    .name
                                        span MySql
                                    .bar
                                        .base
                                            .progres#prog-5
                                    .porcentaje
                                        span 50%

                    
                .projects
                    .title-projects
                        h2 Proyectos - Software
                    .projects-var
                        .project
                            .title-project
                                h4 Modelo de inventario
                            .img-project
                                a(href='')
                                    img(src="")
                            .description-project
                                p Base para personalizar un inventario de cualquier empresa.
                            .link-project
                                a(href='https://www.facebook.com/cristhiancarlos.chaucamariaca.1') Ver Proyecto
                        .project
                            .title-project
                                h4 Contactos
                            .img-project
                                a(href="")
                                    img(src="")
                            .description-project
                                p Una de las tecnológias mas usadas .
                            .link-project
                                a(href="") Ver Proyecto
                        .project
                            .title-project
                                h4 Help Desk
                            .img-project
                                a(href="")
                                    img(src="")
                            .description-project
                                p Una de las tecnológias mas usadas en el ambito del desarrollo que permite desarrollar. coreecta.
                            .link-project
                                a(href="") Ver Proyecto
            section.portafolio
                .titulo-cap
                    h2 ertificaciones
                .trabajos#certificaciones
                    .item.oscuro
                        .titulo-item
                            img.logo-certificacion(src="media/dell.png", alt="")
                        .descripcion-cer
                          p Una de las tecnológias mas usadas en el ambito del desarrollo que permite desarrollar aplicaciones de manera rapida, sencilla, correcta, con el lenguaje de programación PHP.
                        .certificados
                            ul
                                li
                                    .titulo
                                        h3 Nombre
                                    .empresa
                                        h3 Empresa
                                    span.certificados-codigo
                                        h3 Código
                                li
                                    .titulo
                                        a(href="http://", target="_blank", rel="noopener noreferrer") Lorem ipsum dolor sit amet. 
                                            span.icon-link
                                    .empresa
                                        a(href="http://") DELL
                                    span.certificados-codigo 888888888
                                li
                                    .titulo
                                        a(href="http://", target="_blank", rel="noopener noreferrer") Lorem ipsum dolor sit amet. 
                                            span.icon-link
                                    .empresa
                                        a(href="http://") DELL
                                    span.certificados-codigo 888888888
                                li
                                    .titulo
                                        a(href="http://", target="_blank", rel="noopener noreferrer") Lorem ipsum dolor sit amet. 
                                            span.icon-link
                                    .empresa
                                        a(href="http://") DELL
                                    span.certificados-codigo 888888888
                                
                    .item.claro
                        .titulo-item
                            img.logo-certificacion(src="media/cisco.png", alt="")
                        .descripcion-cer
                          p Una de las tecnológias mas usadas en el ambito del desarrollo que permite desarrollar aplicaciones de manera rapida, sencilla, correcta, con el lenguaje de programación PHP.
                        .certificados
                            ul
                                li
                                    .titulo
                                        h3 Nombre
                                    .empresa
                                        h3 Empresa
                                    span.certificados-codigo
                                        h3 Código
                                li
                                    .titulo
                                        a(href="http://", target="_blank", rel="noopener noreferrer") Lorem ipsum dolor sit amet. 
                                            span.icon-link
                                    .empresa
                                        a(href="http://") DELL
                                    span.certificados-codigo 888888888
                                li
                                    .titulo
                                        a(href="http://", target="_blank", rel="noopener noreferrer") Lorem ipsum dolor sit amet. 
                                            span.icon-link
                                    .empresa
                                        a(href="http://") DELL
                                    span.certificados-codigo 888888888
                                li
                                    .titulo
                                        a(href="http://", target="_blank", rel="noopener noreferrer") Lorem ipsum dolor sit amet. 
                                            span.icon-link
                                    .empresa
                                        a(href="http://") DELL
                                    span.certificados-codigo 888888888
                    .item.oscuro
                        .titulo-item
                            h3 Software
                        .descripcion-cer
                          p Una de las tecnológias mas usadas en el ambito del desarrollo que permite desarrollar aplicaciones de manera rapida, sencilla, correcta, con el lenguaje de programación PHP.
                        .certificados
                            ul
                                li
                                    .titulo
                                        h3 Nombre
                                    .empresa
                                        h3 Empresa
                                    span.certificados-codigo
                                        h3 Código
                                li
                                    .titulo
                                        a(href="http://", target="_blank", rel="noopener noreferrer") Lorem ipsum dolor sit amet. 
                                            span.icon-link
                                    .empresa
                                        a(href="http://") DELL
                                    span.certificados-codigo 888888888
                                li
                                    .titulo
                                        a(href="http://", target="_blank", rel="noopener noreferrer") Lorem ipsum dolor sit amet. 
                                            span.icon-link
                                    .empresa
                                        a(href="http://") DELL
                                    span.certificados-codigo 888888888
                                li
                                    .titulo
                                        a(href="http://", target="_blank", rel="noopener noreferrer") Lorem ipsum dolor sit amet. 
                                            span.icon-link
                                    .empresa
                                        a(href="http://") DELL
                                    span.certificados-codigo 888888888                          
        footer.footer
            h3.title Social
            section.social
                .social-link
                    a(href='https://www.facebook.com/cristhiancarlos.chaucamariaca.1'): span.icon-facebook
                .social-link
                    a(href="https://www.facebook.com/cristhiancarlos.chaucamariaca.1"): span.icon-whatsapp
                .social-link
                    a(href="")
                        span.icon-twitter
                .social-link
                    a(href="")
                        span.icon-blogger
                .social-link
                    a(href="")
                        span.icon-linkedin2
            footer.copy
                span
                    em: small -
