<!DOCTYPE html>
html(lang="es")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        link(rel="stylesheet", href="css/estilos.css")
        link(rel="stylesheet", href="fonts/style.css")
        link(rel="icon", href="media/icon.png", type="image/png")
        script(src="https://code.jquery.com/jquery-3.4.0.min.js")
        title Cristhian C. Chauca Mariaca
    body
        .container
            include nav.pug
            include social.pug
            header.header
                section.perfil
                    h1.name Cristhian C. Chauca Mariaca
                    p.icon.icon-embed2
                    article.descripcion
                        p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Itaque doloribus iste excepturi! Eaque, amet iure!
                
            main.body
                section.section#certificaciones
                    h3.title Certificaciones
                    .hr
                    section.certificado
                        article.certificado-item
                            .certificado-title
                                h4 Lorem, ipsum dolor.
                            .certificado-body
                                p Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                            .certificado-link
                                a(href="").icon-link  Ver Certificación
                        
                section.section#habilidades
                    h3.title Habilidades
                    .hr
                    section.habilidad
                        article.habilidad-item
                            .habilidad-title
                                h4 Html5
                            .habilidad-porcentaje
                                .habilidad-progress
                                    .habilidad-line-base
                                    .habilidad-line-progress#html
                                .habilidad-progress-number
                                    p#html-label 80%
                        article.habilidad-item
                            .habilidad-title
                                h4 Css3
                            .habilidad-porcentaje
                                .habilidad-progress
                                    .habilidad-line-base
                                    .habilidad-line-progress#css3
                                .habilidad-progress-number
                                    p#css3-label 90%
                        article.habilidad-item
                            .habilidad-title
                                h4 Sass
                            .habilidad-porcentaje
                                .habilidad-progress
                                    .habilidad-line-base
                                    .habilidad-line-progress#sassvar
                                .habilidad-progress-number
                                    p#sassvar-label 50%
                        article.habilidad-item
                            .habilidad-title
                                h4 Pug
                            .habilidad-porcentaje
                                .habilidad-progress
                                    .habilidad-line-base
                                    .habilidad-line-progress#pugvar
                                .habilidad-progress-number
                                    p#pugvar-label 50%
                        article.habilidad-item
                            .habilidad-title
                                h4 JavaScript
                            .habilidad-porcentaje
                                .habilidad-progress
                                    .habilidad-line-base
                                    .habilidad-line-progress#javascriptvar
                                .habilidad-progress-number
                                    p#javascriptvar-label 30%
                        article.habilidad-item
                            .habilidad-title
                                h4 JQuery
                            .habilidad-porcentaje
                                .habilidad-progress
                                    .habilidad-line-base
                                    .habilidad-line-progress#jqueryvar
                                .habilidad-progress-number
                                    p#jqueryvar-label 70%
                        article.habilidad-item
                            .habilidad-title
                                h4 Java
                            .habilidad-porcentaje
                                .habilidad-progress
                                    .habilidad-line-base
                                    .habilidad-line-progress#javavar
                                .habilidad-progress-number
                                    p#javavar-label 60%
                        article.habilidad-item
                            .habilidad-title
                                h4 MySql
                            .habilidad-porcentaje
                                .habilidad-progress
                                    .habilidad-line-base
                                    .habilidad-line-progress#mysqlvar
                                .habilidad-progress-number
                                    p#mysqlvar-label 80%
                        article.habilidad-item
                            .habilidad-title
                                h4 Python
                            .habilidad-porcentaje
                                .habilidad-progress
                                    .habilidad-line-base
                                    .habilidad-line-progress#pythonvar
                                .habilidad-progress-number
                                    p#pythonvar-label 5%
                        article.habilidad-item
                            .habilidad-title
                                h4 Git-Github
                            .habilidad-porcentaje
                                .habilidad-progress
                                    .habilidad-line-base
                                    .habilidad-line-progress#gitvar
                                .habilidad-progress-number
                                    p#gitvar-label 70%
                        article.habilidad-item
                            .habilidad-title
                                h4 Seguridad
                            .habilidad-porcentaje
                                .habilidad-progress
                                    .habilidad-line-base
                                    .habilidad-line-progress#securityvar
                                .habilidad-progress-number
                                    p#securityvar-label 10%
                        
                        
                section.section#proyectos
                    h3.title Proyectos
                    .hr
                    section.proyecto
                        a(href="https://www.ichuri.net", target="_blank")
                            article.proyecto-item
                                .proyecto-title
                                    h4 Ichuri.net
                                .proyecto-body
                                    p Restaurant perteneciente a una fundación sin fines de lucro.                                                 
                            
                        
                section.section#contacto
                    .hr
                    section.contacto
                        .icon.icon-user-tie
                        .email
                            h4  cristhiancchm@gmail.com
                        .cellphone
                            h4  72087907
                        .icon.icon-embed2

                            
            include footer.pug
        .inicio
            #content-carga
                .icon-embed2
                #carga
        script(src="js/script.js")