doctype html
html
    head
        link(rel="stylesheet" href="css/estilos.css")
        link(rel="stylesheet" href="fonts/style.css")
    body
        .container
            header
                section#portada
                    h1.titulo Cristhian Chauca
                    #icon-portada.icon-embed2
                    span.etiqueta Desarrollador web
                        span.icon-pencil
                    

        