nav.nav
    #toggle-menu Menu
    ul
        li#saludo Welcome...!
        li
            a(href="#").link-inicio Inicio
        li
            a(href="#").link-certificaciones Certificaciones
        li
            a(href="#").link-habilidades Habilidades
        li
            a(href="#").link-proyectos Proyectos
        li
            a(href="#").link-contacto Contacto