nav.nav
    #toggle-menu Menu
    ul
        li#saludo Welcome...!
        li
            a(href="") Certificaciones
        li
            a(href="") Habilidades
        li
            a(href="") Proyectos
        li
            a(href="").link-contacto Contacto