section.section#proyectos
    h3.title royectos
    .hr
    section.proyecto
        a(href="https://www.ichuri.net", target="_blank")
            article.proyecto-item
                .proyecto-title
                    h4 Ichuri.net
                .proyecto-body
                    p Restaurant perteneciente a una fundación sin fines de lucro.                                                 
        a(href="https://www.ichuri.org", target="_blank")
            article.proyecto-item
                .proyecto-title
                    h4 Ichuri.org
                .proyecto-body
                    p Fundación sin fines de lucro, colabora con la jubentud otorgando capacitaciónes.
        a(href="https://www.memoriales.info", target="_blank")
            article.proyecto-item
                .proyecto-title
                    h4 Memoriales.info
                .proyecto-body
                    p Blog destinado a colaborar con profecionales abogador junios, para fortalecer sus conocimientos.