.row
    section.section#servicios
        h3.title ervicios
        .hr
        section.servicios
            article.servicios-item
                h4.servicio-title Diseño Programación Web
                .hr
                article.servicios-items
                    .service-li
                        span.icon.icon-checkmark2
                        span Diseño de Páginas Web
                    .service-li
                        span.icon.icon-checkmark2
                        span Desarrollo de sistemas Web a medida.
                    .service-li
                        span.icon.icon-checkmark2
                        span Análisis y diseño de bases de datos.
                    .service-li
                        span.icon.icon-checkmark2
                        span Soporte a páginas web empresariales.
                    .service-li
                        span.icon.icon-checkmark2
                        span Mantenimiento a sistemas Web y de escritorio.
                .service-link
                    a.btn.btn-primary(href="#") Consultar
            article.servicios-item
                h4.servicio-title Redes de computadoras
                .hr
                article.servicios-items
                    .service-li
                        span.icon.icon-checkmark2
                        span Lorem ipsum dolor sit, amet consectetur adipisicing elit. Esse quisquam, suscipit voluptates quibusdam nostrum recusandae!<br>
                    .service-li
                        span.icon.icon-checkmark2
                        span Lorem, ipsum dolor sit amet consectetur adipisicing.<br>
                .service-link
                    a.btn.btn-primary(href="#") Consultar
            article.servicios-item
                h4.servicio-title Soporte técnico
                .hr
                article.servicios-items
                    .service-li
                        span.icon.icon-checkmark2
                        span Lorem ipsum dolor sit, amet consectetur adipisicing elit. Esse quisquam, suscipit voluptates quibusdam nostrum recusandae!<br>
                    .service-li
                        span.icon.icon-checkmark2
                        span Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit, beatae.<br>
                    .service-li
                        span.icon.icon-checkmark2
                        span Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe delectus laborum nemo obcaecati nulla! Eius, aliquam laboriosam.<br>
                .service-link
                    a.btn.btn-primary(href="#") Consultar
            

