section.section#servicios
    h3.title ervicios
    section.servicios
        article.servicios-item
            h4.servicio-title Diseño Web
            .hr
            article.servicios-items
                ul
                    li.icon-checkmark2: span item1
                    li.icon-checkmark2: span item2
                    li.icon-checkmark2: span item3
                    li.icon-checkmark2: span item4
                    li.icon-checkmark2: span item5 
            .hr
            article.servicios-price
                h5 0.00
                a.voltear(href="").icon-forward
        article.servicios-item
            h4.servicio-title Diseño Web
            .hr
            article.servicios-items
                ul
                    li.icon-checkmark2: span item1
                    li.icon-checkmark2: span item2
                    li.icon-checkmark2: span item3
                    li.icon-checkmark2: span item4
                    li.icon-checkmark2: span item5 
            .hr
            article.servicios-price
                h5 0.00
                a.voltear(href="").icon-forward
        article.servicios-item
            h4.servicio-title Diseño Web
            .hr
            article.servicios-items
                ul
                    li.icon-checkmark2: span item1
                    li.icon-checkmark2: span item2
                    li.icon-checkmark2: span item3
                    li.icon-checkmark2: span item4
                    li.icon-checkmark2: span item5 
            .hr
            article.servicios-price
                h5 0.00
                a.voltear(href="").icon-forward
        article.servicios-item
            h4.servicio-title Diseño Web
            .hr
            article.servicios-items
                ul
                    li.icon-checkmark2: span item1
                    li.icon-checkmark2: span item2
                    li.icon-checkmark2: span item3
                    li.icon-checkmark2: span item4
                    li.icon-checkmark2: span item5 
            .hr
            article.servicios-price
                h5 0.00
                a.voltear(href="").icon-forward
        article.servicios-item
            h4.servicio-title Diseño Web
            .hr
            article.servicios-items
                ul
                    li.icon-checkmark2: span item1
                    li.icon-checkmark2: span item2
                    li.icon-checkmark2: span item3
                    li.icon-checkmark2: span item4
                    li.icon-checkmark2: span item5 
            .hr
            article.servicios-price
                h5 0.00
                a.voltear(href="").icon-forward

