section.social
    .social-item
        a.social-link(href="https://www.facebook.com/cristhiancarlos.chaucamariaca.1", target="_blank").icon-facebook2
    .social-item        
        a.social-link(href="#", target="_blank").icon-twitter
    .social-item
        a.social-link(href="#", target="_blank").icon-github
    .social-item
        a.social-link(href="#", target="_blank").icon-skype
    .social-item
        a.social-link(href="#", target="_blank").icon-linkedin
    .social-item
        a.social-link(href="https://wa.me/59172087907", target="_blank").icon-whatsapp