section.social
    .social-item
        a.social-link(href="#").icon-facebook2
    .social-item        
        a.social-link(href="#").icon-twitter
    .social-item
        a.social-link(href="#").icon-github
    .social-item
        a.social-link(href="#").icon-skype
    .social-item
        a.social-link(href="#").icon-linkedin
    .social-item
        a.social-link(href="#").icon-whatsapp