section.social
    .social-item
        a#keyframe-uno.social-link(href="https://www.facebook.com/cristhiancarlos.chaucamariaca.1", target="_blank").icon-facebook2
    .social-item        
        a#keyframe-dos.social-link(href="https://twitter.com/cris_chauca", target="_blank").icon-twitter
    .social-item
        a#keyframe-tres.social-link(href="https://github.com/CristhianChaucaMariaca?tab=repositories", target="_blank").icon-github
    .social-item
        a#keyframe-cuatro.social-link(href="https://cristhianchauca.blogspot.com/", target="_blank").icon-blogger
    .social-item
        a#keyframe-cinco.social-link(href="https://www.linkedin.com/in/cristhian-carlos-chauca-mariaca", target="_blank").icon-linkedin
    .social-item
        a#keyframe-seis.social-link(href="https://wa.me/59172087907", target="_blank").icon-whatsapp
    .social-item
        a#keyframe-siete.social-link(href="https://www.youtube.com/channel/UCa3NCItYc3T2puwjFcy4o0Q?disable_polymer=true", target="_blank").icon-youtube