section.social
    .social-item
        a#keyframe-uno.social-link(href="https://www.facebook.com/cristhiancarlos.chaucamariaca.1", target="_blank").icon-facebook2
    .social-item        
        a#keyframe-dos.social-link(href="#", target="_blank").icon-twitter
    .social-item
        a#keyframe-tres.social-link(href="#", target="_blank").icon-github
    .social-item
        a#keyframe-cuatro.social-link(href="#", target="_blank").icon-skype
    .social-item
        a#keyframe-cinco.social-link(href="#", target="_blank").icon-linkedin
    .social-item
        a#keyframe-seis.social-link(href="https://wa.me/59172087907", target="_blank").icon-whatsapp