@media (max-width:360px) and (orientation:portrait){
    body{
    
        .container{
            width: 100% !important;
            h3{
                border-radius: 0px!important;
                font-size: 1.5em!important;
            }
            header.header{
                height: 100vh;
                background-image: url(../media/banner3.jpg);
                background-repeat: no-repeat;
                background-size: cover;
                background-position: left;
                video{
                    display: none;
                }
                .header-1{
                    .section-header{
                        width: 90% !important;
                        padding: 10px;
                        .name{
                            font-size: 3.5em;
                            line-height: 1;
                        }
                        .words{
                            font-size: 16px;
                            p{
                                &:first-child{
                                    font-size: 2.6em;
                                }
                                &:last-child{
                                    font-size: 1.3em;
                                }
                            }
                        }
                        .social{
                            font-size: 1rem;
                            margin-top: 2em;
                            display: flex;
                            width: 100%;
                            padding-left: 0px;
                            padding-right: 0px;
                            justify-content: space-between;
                            .social__item{
                                font-size: 1.5em;
                                margin-bottom: .5em;
                            }
                        }
                    }
                    .aside-header{
                        
                    }
                }
                
            }
            .body{
                .section{
                    .habilidad{
                        
                        .habilidad-item{
                            
                            .habilidad-title{
                                width: 100% !important;
                                h4{
                                    
                                }
                            }
                            .habilidad-porcentaje{
                                width: 100% !important;
                                .habilidad-progress{
                                    
                                    .habilidad-line-base{
                                        
                                    }
                                    .habilidad-line-progress{
                                        
                                    }
                                }
                                .habilidad-progress-number{
                                    
                                }
                            }
                        }
                    }
                    .experiencia{
                        .experiencia-item{
                            margin-left: $margin*2;
                            margin-right: $margin*2;
                            margin-top: $margin*5 !important;
                            .experiencia-description{
                                width: 100% !important;
                            }
                            .experiencia-title{
                                h4{
                                    text-align: center !important;
                                }
                            }
                            .experiencia-dates{
                                text-align: center !important;
                                width: 100% !important;
                                border-top: solid 2px $color-4 ;
                                border-left: none !important;
                                padding-left: 0;
                                margin-top: $margin;
                                padding-top: $padding;
                            }
                        }
                    }
                    .contacto{
                        .email{
                            h4{
                                font-size: 2em;
                            }
                        }
                        .cellphone{
                            h4{
                                font-size:1.5em;
                            }
                        }
                    }
                }
            }
            .certificado{
                .certificado-item{
                    margin-top: $margin*5!important;
                }
            }
            .proyecto{
                .proyecto-item{
                    margin-top: $margin*5!important;
                }
            }
            
        }
        .nav{
            ul{
                #saludo{
                    border-radius: 0;
                }
                li{
                    border-bottom: 1px solid $color-1;
                }
            }
        }
        .social{
            font-size: 12pt;
            justify-content: center;
            &__item{
                a{
                    font-size: 1em !important;
                }
            }
        }
    }
}
@media (max-width:360px) and (orientation:landscape ){
    
}