@media screen and(max-width:450px){
    body{
        .container{
            .cards{
                grid-template-columns: repeat(1, 1fr);
                grid-row-gap: 30px;
                .card{
                    margin: 0 auto;
                }
            }
            .servicios{
                grid-template-columns: repeat(1,1fr);
                grid-row-gap: 30px;
            }
            header.header{
                background-image: url(../media/banner3-small.jpg);
            }
        }
        
    }
    .container{
        .body{
            .section{
                .contacto{
                    background-image: url(../media/banner4-small.jpg);;
                }
            }
        }
    }
    
}
