@media screen and(max-width:900px) {
  body {
    .container {
      header.header {
        .perfil {
          width: 100% !important;
        }
      }
      .cards {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 40px;
      }
    }
  }
  video {
    height: 100vh;
  }
}
