//- FIXME: Trabajar en el archivo para trabajar con el mixin y sus variables
mixin habilidad(title,img,percentage) 
    article.habilidad-item
                .habilidad-title
                    h4 Html5
                    .habilidad-img
                        img(src="media/logos/html5.png", alt="")
                .habilidad-porcentaje
                    .habilidad-progress
                        .habilidad-line-base
                        .habilidad-line-progress#html
                    .habilidad-progress-number
                        p#html-label 80%
                    .habilidad-description
                        p Maquetación con lenguaje de marcado HTML5 lo ultimo en <b>maquetación web</b> que permite a los navegadores comprender de mejor forma la información de una web. 