mixin servicio(name,items, link)
    article.servicios-item
        h4.servicio-title= name
        .hr
        article.servicios-items
            each item in items
                .service-li
                    span.icon.icon-checkmark2
                    span= item
        .service-link
            a.btn.btn-primary(href=link, target="_blank") Consultar