//- TODO: Se debe arreglar la vista y la forma de presentación de las redes sociales para hacerlos
//- de forma generica para un uso multiple mucho mas cómodo.

mixin social(link)
    .social-item
        a.social-link(href=link, target="_blank")&attributes(attributes)