.cards{
    @include flex_row;
    width: 100%;
    .card{
        width: 300px;
        @include shadow;
        padding: 5px;
        margin:$margin;
        &:hover {
            .img-card{
                img{
                    transform: scale(1.2);
                }
            }
        }
        &__thumbnail{
            overflow: hidden;
        }
        &__img{
            max-width: 100%;
            width: 100%;
            transition: transform 2s ease-in-out;
        }
        &__title{
            h3{
                text-align: left;
            }
        }
        &__description{
            p{
                @include margin_l_r;
                @include format_text;
            }
        }
        &__technologis{
            @include margin_l_r;
            p{
                text-align: justify;
            }
            .tecnologis-img-card{
                width: 100%;
                text-align: center;
                img{
                    margin: 5px;
                }
            }
        }
        &__link{
            @include padding_l_r;
            @include padding_t_b;
            span{
                color:$color-2;
                margin-right: 10px;
                opacity: .8;
            }
            &:hover{
                span{
                    transform: rotate(-90deg);
                    transition: transform .3s ease-in-out;
                    display: inline-block;
                }
            }
        }
    }
}