.cards {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  .card {
    @include shadow;
    padding: 12px;
    border-radius: 10px;
    &:hover .card__img {
      transform: scale(1.2);
    }
    &__thumbnail {
      overflow: hidden;
      border-radius: 10px;
    }
    &__img {
      max-width: 100%;
      width: 100%;
      transition: transform 2s ease-in-out;
    }
    &__title {
      h3 {
        text-align: center;
      }
    }
    &__description {
      p {
        @include margin_l_r;
        @include format_text;
      }
    }
    &__link {
      @include padding_l_r;
      @include padding_t_b;
      svg {
        .card__icon {
          fill: $color-3;
          transition: all 0.3s;
        }
      }
      &:hover svg .card__icon {
        fill: $color-1;
        transform: scale(1.02);
      }
    }
    &__actions {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}
