.container {
  .body {
    .section {
      padding-bottom: 0;
      .contacto {
        width: 100%;
        height: 100vh;
        max-height: 100vh;
        background-image: url(../media/banner4.jpeg);
        background-size: cover;
        background-position: center 0;
        background-repeat: no-repeat;
        background-attachment: fixed;
        position: relative;
        overflow: hidden;
        min-height: 100vh;
        border-radius: $border-3 $border-3 0 0;
        justify-content: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;
        &__section {
          display: flex;
          align-items: center;
          flex-direction: column;
          justify-content: center;
        }
        &:after {
          content: "";
          width: 100%;
          height: 100%;
          display: block;
          left: 0;
          top: 0;
          opacity: 0.9;
          position: absolute;
          background-color: $color-1;
          z-index: 1;
        }

        &__paragraph {
          color: $color-3;
          z-index: 10;
          margin-bottom: 20px;
          font-size: 1.4em;
        }
        &__email {
          width: 100%;
          display: block;
          h4 {
            font-size: 4em;
            @include text-extra;
            color: $color-3;
            position: relative;
            font-weight: 900;
            &:after {
              content: "@gmail.com";
              color: $color-white;
              font-size: 0.5em;
              font-weight: 300;
            }
          }
          position: relative;
          z-index: 2;
        }
        &__cellphone {
          width: 100%;
          h4 {
            font-size: 3em;
            @include text-extra;
            color: $color-4;
            font-weight: 900;
            &:before {
              content: "(+591) - ";
              color: $color-3;
              font-size: 0.5em;
              font-weight: 300;
            }
            position: relative;
            z-index: 2;
          }
        }
        &__footer {
          z-index: 10;
          width: 60%;
        }
      }
    }
  }
}
