.container{
    .footer-nav{
        @include oscuro;
        padding: $padding;
        
    }
    .footer-1{
        @include oscuro;
        @include padding;
        .footer-ul{
            list-style: none;
            margin-bottom: 5px;
            width: 50%;
            margin: 0 auto;
        }
    }
    .copy-right{
        @include oscuro;
        text-align: center;
        .hr{
            border-color: $color-2;
            width: 90%;
        }
        p{
            padding: $padding-tb;
        }
    }
}