.container{
    .footer-nav{
        @include oscuro;
        padding: $padding;
        
    }
    .footer-1{
        @include oscuro;
        @include padding;
        .footer-ul{
            list-style: none;
            margin-bottom: 5px;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            a{
                margin-left: 15px;
                margin-right: 15px;
                text-decoration: none;
                @include link;
                text-align: center;
                font-size: 1.5em;
                &:hover{
                    transform: scale(1.09);
                }
            }
        }
    }
    .copy-right{
        @include oscuro;
        text-align: center;
        .hr{
            border-color: $color-2;
            width: 90%;
        }
        p{
            padding: $padding-tb;
        }
    }
}