* {
  margin: 0;
  padding: 0;
  font-family: $font;
  // box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  color: $color-font;
  font-weight: 300;
}
.container {
  .body {
    .section {
      margin-top: 50px;
      &__description {
        margin-bottom: 40px;
        font-size: 1.2em;
        text-align: center;
        color: $color-3;
        font-weight: 100;
      }
      &__title {
        font-family: $font-extra;
        font-size: 4em;
        font-weight: 100;
        text-align: center;
      }
    }
  }
  .hr {
    width: 100%;
    margin: 0 auto;
    height: 1px;
    background-color: $color-3;
    @include margin_t_b;
    position: relative;
    opacity: 0.3;
  }
}
// Scroll personalizado
body::-webkit-scrollbar {
  background-color: $color-1;
  width: 7px;
  border-right: 1px solid $color-white;
}
body::-webkit-scrollbar-thumb {
  background-color: $color-3;
  border-radius: 5px;
  border-right: 1px solid $color-white;
}
p {
  margin-top: 5px;
  margin-bottom: 10px;
}
