.mostrar-menu-desk{
    opacity: 1;
    visibility: visible;
    display: flex;
}
nav{
    position: fixed;
    z-index: 20;
    bottom: 30px;
    right: 30px;
    display: flex;
    flex-wrap: wrap;
    width: 300px;
    justify-content: flex-end;
    #toggle-menu{
        display: none;
    }
    #togle-menu2.icon-home{
        order: 2;
        background-color: $color-1;
        padding: 10px;
        border-radius: 100%;
        font-size: 2em;
        width: 50px;
        height: 50px;
        text-align: center;
        color:$color-4;
        cursor: pointer;
        border: solid 1px $color-4;
        @include shadow;
    }
    ul{
        visibility: hidden;
        opacity: 0;
        transition: .3s;
        border-radius: 20px;
        border: solid 1px $color-3;
        list-style: none;
        margin-bottom: $margin*3;
        display: none;
        flex-wrap: wrap;
        flex-direction: column;
        width: 100%;
        @include shadow;
        #saludo{
            color: $color-3;
            font-weight: normal;
            font-family: $font-extra;
            font-size: 2em;
            background-color: $color-1;
            border-top-left-radius: 20px;
            border-top-right-radius: 20px;
            border-bottom-width: 1px;
            border-bottom-color: $color-3;
            border-bottom-style: solid;
        }
        li{
            opacity: .9;
            &:last-child{
                border-bottom-right-radius: 20px;
                border-bottom-left-radius: 20px;
            }
            background-color: $color-1;
            flex:auto;
            text-align: center;
            padding-top: 10px;
            padding-bottom: 10px;
            a{
                text-transform: uppercase;
                text-decoration: none;
                color:$color-3;
                transition: $transition;
                line-height: 3;
                display: block;
                font-weight: bold;
                border-radius: $border-3;
                &:hover{
                    color: $color-4;
                    background-color: $color-2;
                    transform: scale(0.9);
                }
            }
        }
    }
    #toggle-menu{
        cursor: pointer;
        line-height: 3;
        text-align: center;
        background-color: $color-3;
        color:$color-1;
    }
}
.nav-in-page{
    width: 100%;
    ul{
        list-style: none;
        display: flex;
        justify-content: center;
        li{
            margin: 20px;
            a{
                @include link;
                text-transform: uppercase;
                &:hover{
                    text-decoration: underline;
                }
            }
        }
    }
}