.people {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  flex-direction: column;
  &__picture {
    width: 40%;
    border-radius: 100%;
    overflow: hidden;
    display: block;
  }
  &__name {
    color: $color-white;
    font-family: $font-title;
    font-size: 4em;
    text-align: center;
    text-transform: uppercase;
  }
  .char {
    color: $color-3;
    font-family: $font-title;
    text-transform: uppercase;
  }
}
