@mixin title-decoration {
  color: $color-3;
}
body {
  .container {
    h3 {
      padding: $padding;
      color: $color-2;
      text-align: left;
    }
    @mixin size-title {
      font-size: 1.4em !important;
    }
    #proyectos {
      h3.title {
        font-family: $font-extra !important;
      }
    }
  }
}
